{% extends "common/base.html" %}

{% block head %}
<style>
  #other_report_input:not(:checked) ~ #other_report_reason {
    display: none;
  }
</style>
{% endblock %}

{% block title %}
Reporting comment for {{ story.title }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>Reporting comment for <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">{{ story.title }}</a></h1>
<h2>by {% for author in authors %}<a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}</h2>
<nav>
  <ul>
    {% for author in authors %}
    <li><a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">Back to author {{ author.display_name }}</a></li>
    {% endfor %}
    <li><a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">Back to story {{ story.title }}</a></li>
    <li><a href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/{{ persistent.as_leading_qmark() }}">Back to comments</a></li>
  </ul>
</nav>

<article class="comment">
  <header class="comment-header">
    <a class="comment-username" href="/@{{ comment_user_username }}/{{ persistent.as_leading_qmark() }}">{{ comment_user_display_name }}</a>
    <a class="comment-time" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/{{ comment_id }}/{{ persistent.as_leading_qmark() }}">{{ comment_created }}</a>
    {% match comment_edited %}
      {% when Some with (edited) %}
        <a class="comment-time" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/{{ comment_id }}/{{ persistent.as_leading_qmark() }}">(edited {{ edited }})</a>
      {% when None %}
    {% endmatch %}
  </header>
  <section class="comment-contents">
    {{ self.formatted_comment|san|safe }}
  </section>
  <form action="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/report/{{ comment_id }}/{{ persistent.as_leading_qmark() }}" method="POST">
    <p>
      Select a reason for the report :
    </p>
    <ul>
      <li><label><input type="radio" name="reason" value="spam" checked /> This comment is spam</label></li>
      <li><label><input type="radio" name="reason" value="tos" /> This comment is against the Terms of Service</label></li>
      <li><label><input type="radio" name="reason" value="offensive" /> This comment contains offensive language</label></li>
      <li><label><input type="radio" name="reason" value="harassment" /> This comment is harassment</label></li>
      <li>
        <input id="other_report_input" type="radio" name="reason" value="other" />
        <label for="other_report_input">Other reason</label>
        <div id="other_report_reason">Please specify: <br><textarea name="other_content" class="admin_message"></textarea></div>
      </li>
    </ul>
    <input type="submit" value="Report this comment" />
  </form>
</article>
{% endblock %}
