{% extends "common/base.html" %}

{% block head %}
<link rel="author" href="/{{ story_entry.author_path }}/">
<meta name="author" content="{% for author in story_entry.authors %}{% if !loop.first %} {% endif %}{{ author.display_name }}{% endfor %}">
{% for author in story_entry.authors %}
<meta name="creator" content="{{ author.display_name }}">
{% endfor %}
<meta name="publisher" content="{{ persistent.site.name }}">
<meta name="description" content="{{ trimmed_description_for_card }}">
<meta name="created" content="{{ w3cdtf_formatted_first_publication }}">
<meta name="keywords" content="story,{% for (_, tag) in story_entry.major_tags %},{{ tag.display_name }}{% endfor %}{% for tag in persistent.site.tags %},{{ tag }}{% endfor %}">
<meta name="rights" content="© {% for author in story_entry.authors %}{% if !loop.first %} {% endif %}{{ author.display_name }}{% endfor %} {{ publication_year }}-{{ current_year }}, all rights reserved">

<link rel="schema.dcterms" href="http://purl.org/dc/terms/">
{% for author in story_entry.authors %}
<meta name="dcterms.creator" content="{{ author.display_name }}">
{% endfor %}
<meta name="dcterms.subject" content="story {% for (_, tag) in story_entry.major_tags %} {{ tag.display_name }}{% endfor %}{% for tag in persistent.site.tags %} {{ tag }}{% endfor %}">
<meta name="dcterms.description" content="{{ trimmed_description_for_card }}">
<meta name="dcterms.publisher" content="{{ persistent.site.name }}">
<meta name="dcterms.dateSubmitted" content="{{ w3cdtf_formatted_first_publication }}">
<meta name="dcterms.type" content="Collection">
<meta name="dcterms.format" content="text/html">
<meta name="dcterms.rights" content="© {% for author in story_entry.authors %}{% if !loop.first %} {% endif %}{{ author.display_name }}{% endfor %} {{ publication_year }}-{{ current_year }}, all rights reserved">

<meta property="og:title" content="{{ story.title }}">
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ persistent.site.name }}">
<meta property="og:description" content="{{ trimmed_description_for_card }}">
<meta property="og:url" content="{{ persistent.site.base_url }}/{{ story_entry.author_path }}/{{ story.url_fragment }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ story.title }}">
<meta name="twitter:description" content="{{ trimmed_description_for_card }}">
<meta name="twitter:url" content="{{ persistent.site.base_url }}/{{ story_entry.author_path }}/{{ story.url_fragment }}">
<link rel="alternate" href="{{ persistent.site.base_url }}/feed/{{ story_entry.author_path }}/{{ story.url_fragment }}" type="application/atom+xml" title="{{ story.title }} - Latest chapters">
{% endblock %}

{% block title %}
{{ story.title }}
{% endblock %}

{% block body %}

{% if is_administrator %}
<article class="settings">
  <fieldset>
    <legend><h2>Moderation</h2></legend>
    <a href="/admin/{{ story_entry.author_path }}/{{ story.url_fragment }}/1/{{ persistent.as_leading_qmark() }}">Edit this story</a><br />
    {% for user in story_entry.authors %}
    <a href="/admin/modmail/user/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">See the modmails and/or send a new modmail to {{ user.display_name }} (@{{ user.username }})</a><br />
    {% endfor %}
  </fieldset>
</article>
{% endif %}

{% if can_edit || can_manage %}
<article class="settings">
  <fieldset>
    <legend><h2>Management</h2></legend>
    {% if can_edit %}
    <a href="/{{ story_entry.author_path }}/{{ story.url_fragment }}/0/new_chapter/{{ persistent.as_leading_qmark() }}">Add a new chapter</a><br />
    <a href="/{{ story_entry.author_path }}/{{ story.url_fragment }}/0/settings/{{ persistent.as_leading_qmark() }}">Modify the story title, description or chapter order</a>
    {% endif %}
    {% if can_edit && can_manage %}<br />{% endif %}
    {% if can_manage %}
    <a href="/{{ story_entry.author_path }}/{{ story.url_fragment }}/0/settings_access/{{ persistent.as_leading_qmark() }}">Modify who can access, edit or comment on this story</a><br />
    <a href="/{{ story_entry.author_path }}/{{ story.url_fragment }}/0/settings_tags/{{ persistent.as_leading_qmark() }}">Modify the story tags</a><br />
    <a href="/statistics/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">Show story statistics</a>
    {% endif %}
  </fieldset>
</article>
{% endif %}

{% if show_new_chapter_confirm_box %}
<section class="confirmation_box">
  <p>
    Chapter was created successfully !
  </p>
</section>
{% endif %}

{% if show_edit_chapter_confirm_box %}
<section class="confirmation_box">
  <p>
    Chapter was edited successfully !
  </p>
</section>
{% endif %}

{% if show_delete_chapter_confirm_box %}
<section class="confirmation_box">
  <p>
    Chapter was deleted successfully !
  </p>
</section>
{% endif %}

{% if show_publication_confirm_box %}
<section class="confirmation_box">
  <p>
    Publication date was changed successfully !
  </p>
</section>
{% endif %}

{% if show_tag_edition_confirm_box %}
<section class="confirmation_box">
  <p>
    Tags were changed successfully !
  </p>
</section>
{% endif %}

<article>
  <header>
    <h1>{{ story.title }}</h1>
    <h3>by {% for author in story_entry.authors %}<a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}</h3>
    <div>
      Tags:
      {% for (_, tag) in story_entry.major_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}{{ persistent.as_leading_amp() }}">#{{ tag.display_name }}</a>
      {% endfor %}
      {% for (_, tag) in story_entry.minor_tags %}
      <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}{{ persistent.as_leading_amp() }}">#{{ tag.display_name }}</a>
      {% endfor %}
      {% if story_entry.spoiler_tags.len() > 0 %}
      <details>
        <summary>
          See spoiler tags :
        </summary>
        {% for (_, tag) in story_entry.spoiler_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}{{ persistent.as_leading_amp() }}">#{{ tag.display_name }}</a>
        {% endfor %}
      </details>
      {% endif %}
    </div>
    {% if story_entry.spoilered_mandatory_tags.len() > 0 %}
    <details class="story-card-tags-spoilered-mandatory">
      <summary>
        (Some {{ story_entry.get_comma_separated_mandatory_category_names() }} tags are spoilered. Click to show them)
      </summary>
      {% for (_, tag) in story_entry.spoilered_mandatory_tags %}
        <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}{{ persistent.as_leading_amp() }}">#{{ tag.display_name }}</a>
      {% endfor %}
    </details>
    {% endif %}
    {% if !story_entry.excluded_authors.is_empty() || !story_entry.excluded_tags.is_empty() %}
    <div>
      <h3>Story is excluded :</h3>
      {% for author in story_entry.excluded_authors %}
        <a class="tag-link tag-link-excluded" href="/@{{ author.username }}/{{ persistent.as_leading_amp() }}">author: {{ author.display_name }}</a>
      {% endfor %}
      {% for (_, tag) in story_entry.excluded_tags %}
        <a class="tag-link tag-link-excluded" href="/search/?q=%23{{ tag.display_name }}{{ persistent.as_leading_amp() }}">#{{ tag.display_name }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </header>

  <section class="content">
    <p>
      {{ story.description.html()|san|safe }}
    </p>
  </section>

  <section id="story-actions-list">

    {% if follow_status.show %}
    <section class="follow">
      {% if story.is_collaboration %}
        {% if follow_status.user_is_following_story %}
          <div>
            You are currently following this story.<br />
            <form class="link-style-form" action="/follow/{{ story_entry.author_path }}/story/{{ story.url_fragment }}/unfollow/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like">(unfollow)</button>
            </form>
          </div>
        {% else %}
          <div>
            You can
            <form class="link-style-form" action="/follow/{{ story_entry.author_path }}/story/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like">follow this story</button>
            </form>
          </div>
        {% endif %}
      {% else %}
        {% if follow_status.user_is_following_author %}
          <div>
            You are currently following this author.<br />
            <form class="link-style-form" action="/follow/{{ story_entry.author_path }}/author/unfollow/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like">(unfollow)</button>
            </form>
            or
            <form class="link-style-form" action="/follow/{{ story_entry.author_path }}/story/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like">(follow only this story)</button>
            </form>
          </div>
        {% elseif follow_status.user_is_following_story %}
          <div>
            You are currently following this story.<br />
            <form class="link-style-form" action="/follow/{{ story_entry.author_path }}/story/{{ story.url_fragment }}/unfollow/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like">(unfollow)</button>
            </form>
            or
            <form class="link-style-form" action="/follow/{{ story_entry.author_path }}/author/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like">(follow everything by this author instead)</button>
            </form>
          </div>
        {% else %}
          <div>
            You can
            <form class="link-style-form" action="/follow/{{ story_entry.author_path }}/story/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like">follow this story</button>
            </form>
            or
            <form class="link-style-form" action="/follow/{{ story_entry.author_path }}/author/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like">follow the author</button>
            </form>
          </div>
        {% endif %}
      {% endif %}
    </section>
    {% endif %}
  
    {% if can_write_recommendation || (recommendations_count > 0 && (can_see_recommendations || can_see_recommendations_bypass)) %}
    <section class="suggestions">
      <div>
        {% if can_write_recommendation %}
          <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/add/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">
            Did you enjoy this story ? Suggest it to other users !
          </a>
        {% endif %}
        {% if can_write_recommendation && (can_see_recommendations || can_see_recommendations_bypass) && recommendations_count > 0 %}
          <br />
        {% endif %}
        {% if recommendations_count > 0 %}
          {% if can_see_recommendations %}
            <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/story/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">
              This story has been suggested by {{ recommendations_count }} users.
            </a>
          {% elseif can_see_recommendations_bypass %}
            <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/story/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">
              This story has been suggested by {{ recommendations_count }} users.<br />
              (this list of recommendations is only accessible to you)
            </a>
          {% endif %}
        {% endif %}
      </div>
    </section>
    {% endif %}

    {% if user_approval_status.show %}
    <section class="snaps">
      {% if user_approval_status.is_logged_out %}
        <details>
          <summary>
      {% else %}
        <div>
      {% endif %}
        {% if user_approval_status.user_can_approve %}
          {% if user_approval_status.user_has_given_approval %}
            <form class="link-style-form" action="/{{ intertextual::constants::USER_APPROVAL_URL }}/remove/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like" title="You already gave a snap to this story ! Click to undo.">
          {% else %}
            <form class="link-style-form" action="/{{ intertextual::constants::USER_APPROVAL_URL }}/add/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like" title="Give a snap to this story !">
          {% endif %}
        {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg"
          {% if user_approval_status.approval_count >= 1000 %}
          viewBox="0 0 64 24" width="64" height="24"
          {% else if user_approval_status.approval_count >= 100 %}
          viewBox="0 0 56 24" width="56" height="24"
          {% else if user_approval_status.approval_count > 0 %}
          viewBox="0 0 48 24" width="48" height="24"
          {% else %}
          viewBox="0 0 24 24" width="24" height="24"
          {% endif %}
          fill="{% if user_approval_status.user_can_approve &&user_approval_status.user_has_given_approval %}red{% else %}none{% endif %}"
          stroke="{% if user_approval_status.user_can_approve &&user_approval_status.user_has_given_approval %}none{% else %}currentColor{% endif %}"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          {% if user_approval_status.approval_count > 1 %}
            title="This story got {{ user_approval_status.approval_count }} snaps !"
          {% elseif user_approval_status.approval_count > 0 %}
            title="This story got {{ user_approval_status.approval_count }} snap !"
          {% endif %}
        >
          <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
          {% if user_approval_status.approval_count > 0 %}
            <text x="28" y="19" font-size="14" fill="currentColor" stroke="none">x{{ user_approval_status.approval_count }}</text>
          {% endif %}
        </svg>
        {% if user_approval_status.user_can_approve %}
          </button>
        </form>
        {% endif %}
      {% if user_approval_status.is_logged_out %}
          </summary>
          <div class="log-in-info">
            You must be logged-in to give a snap.<br>
            <a href="/register/{{ persistent.as_leading_qmark() }}">register</a> or <a href="/login/{{ persistent.as_leading_qmark() }}">log in</a>
          </div>
        </details>
      {% else %}
        </div>
      {% endif %}
    </section>
    {% endif %}
    
    <section class="share">
      <details ontoggle="document.querySelector('.share input').select()">
        <summary>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24" height="24"
            viewBox="0 0 24 24"
            fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            title="Get a direct link to this story"
          >
            <title>Get a direct link to this story</title>
            <circle cx="18" cy="5" r="3"></circle>
            <circle cx="6" cy="12" r="3"></circle>
            <circle cx="18" cy="19" r="3"></circle>
            <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
            <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
          </svg>
        </summary>
        <input type="text" value="{{ persistent.site.base_url }}/{{ story_entry.author_path }}/{{ story.url_fragment }}" />
      </details>
    </section>
  </section>

  {% if story_entry.can_mark_for_later %}
  <section style="text-align: center;">
    {% if story_entry.is_marked_for_later %}
    This story is in your "Read Later" list
    <form class="link-style-form" target="_blank" action="/{{ story_entry.author_path }}/{{ story.url_fragment }}/0/remove_marked_for_later/{{ persistent.as_leading_qmark() }}" method="POST">
      <button class="link-like">(remove)</button>
    </form>
    {% else %}
    <form class="link-style-form" target="_blank" action="/{{ story_entry.author_path }}/{{ story.url_fragment }}/0/mark_for_later/{{ persistent.as_leading_qmark() }}" method="POST">
      <button class="link-like">Add this story to your "Read Later" list</button>
    </form>
    {% endif %}
  </section>
  {% endif %}

  <section id="chapter-list" class="story-card-grid">
  {% for chapter in chapters %}
    <section class="story-card-large{% if !chapter.is_published() %} story-card-hidden-story{% endif %}">
      {% if !chapter.is_published() %}
        <div class="story-card-hidden-info">Chapter is a draft</div>
      {% endif %}
      <div class="story-card-publication-date">{{ chapter.formatted_first_publication() }}</div>
      <div class="story-card-title">
        <a href="/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/{{ persistent.as_leading_qmark() }}">
          {% match chapter.title %}
            {% when Some with (title) %}
              {{ title }}
            {% when None %}
              Chapter {{ chapter.chapter_number }}
          {% endmatch %}
        </a>
      </div>
      <div class="story-card-word-count">
        ({{ chapter.word_count }} words)
      </div>
      {% if can_edit || can_manage || is_administrator %}
      <p class="story-card-description">
        <br>
        {% if can_edit %}
          <a href="/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/edit/{{ persistent.as_leading_qmark() }}">(edit)</a>
        {% endif %}
        {% if can_manage %}
          <a href="/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/publication/{{ persistent.as_leading_qmark() }}">(publication settings)</a>
        {% endif %}
        <br />
        {% if chapter.moderator_locked %}
          Locked by a moderator
        {% elseif chapter.is_published() %}
          Published since {{ chapter.formatted_publication_date() }}.
        {% else %}
          Not published : {{ chapter.formatted_publication_date() }}.
        {% endif %}
      </p>
      {% endif %}
    </section>
  {% endfor %}
  </section>

</article>

{% if can_report_story %}
<section class="story-report">Click <a href="/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ report_chapter_number }}/report/{{ persistent.as_leading_qmark() }}">here</a> to report this story</section>
{% else if has_reported_story %}
<section class="story-report">
  You already reported this story
  <form class="link-style-form" action="/{{ story_entry.author_path }}/{{ story.url_fragment }}/{{ report_chapter_number }}/unreport/{{ persistent.as_leading_qmark() }}" method="POST">
    <button class="link-like">(undo)</button>
  </form>
</section>
{% endif %}

{% endblock %}
