{% extends "common/base.html" %}

{% block title %}
Publication settings for {{ chapter.get_title(story, is_standalone) }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
{% if chapter.moderator_locked %}
  {% match chapter.moderator_locked_reason %}
    {% when Some with (reason) %}
      <article class="moderator_locked_information">
        <fieldset>
          <legend>
            {% if is_standalone %}
            <h2>Locked story</h2>
            {% else %}
            <h2>Locked chapter</h2>
            {% endif %}
          </legend>
          {% if is_standalone %}
          <p>This story was locked by a moderator.</p>
          {% else %}
          <p>This chapter was locked by a moderator.</p>
          {% endif %}
          <p>Reason : {{ reason }}</p>
        </fieldset>
      </article>
    {% when None %}
  {% endmatch %}
{% endif %}

{% if show_publication_confirm_box %}
<section class="confirmation_box">
  <p>
    Publication date was changed successfully !
  </p>
</section>
{% endif %}

{% if show_tag_edition_confirm_box %}
<section class="confirmation_box">
  <p>
    Tags were changed successfully !
  </p>
</section>
{% endif %}

<article class="edit_publication">
  <header>
    <h1>Publication settings for {{ chapter.get_title(story, is_standalone) }}</h1>
    <h3>by {% for author in authors %}<a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}</h3>
    {% if !is_standalone %}
    <h3>(Part {{ chapter.chapter_number}} of {{ story.title }})</h3>
    {% endif %}
  </header>

  <section>
    <p>
      {% if chapter.is_published() %}
        {% if is_standalone %}
        This story was published: {{ chapter.formatted_publication_date() }}.
        {% else %}
        This chapter was published: {{ chapter.formatted_publication_date() }}.
        {% endif %}
      {% elseif chapter.show_publicly_after_date.is_some() %}
        {% if is_standalone %}
        <strong>This story is a draft.</strong> Publication of this story is planified for {{ chapter.formatted_publication_date() }}.
        {% else %}
        <strong>This chapter is a draft.</strong> Publication of this chapter is planified for {{ chapter.formatted_publication_date() }}.
        {% endif %}
      {% else %}
        {% if is_standalone %}
        <strong>This story is a draft.</strong> Other users cannot see this story.<br />
        {% else %}
        <strong>This chapter is a draft.</strong> Other users cannot see this chapter.<br />
        {% endif %}
      {% endif %}
    </p>
    <p>
      {% if is_standalone %}
        <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">Back to the story</a>
      {% else %}
        <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/{{ persistent.as_leading_qmark() }}">Back to the chapter</a>
      {% endif %}
    </p>
    <hr />
  </section>
  {% if !chapter.moderator_locked %}
    <form action="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/publication/{{ persistent.as_leading_qmark() }}" method="post">
      <ul>
        <li><label><input type="radio" name="publication_mode" value="do_not_publish" {% if DefaultPublicationMode::DoNotPublish == default_publication_mode %} checked {% endif %} />Draft</label></li>
        <li><label><input type="radio" name="publication_mode" value="publish_later" {% if DefaultPublicationMode::Later == default_publication_mode %} checked {% endif %} />Publish this {% if is_standalone %}story{% else %}chapter{% endif %} </label> at <input type="text" name="publication_time" value="{{ next_publication_date }}" /> (UTC+00)</li>
        <li><label><input type="radio" name="publication_mode" value="publish_now" {% if DefaultPublicationMode::Now == default_publication_mode %} checked {% endif %} />Publish this {% if is_standalone %}story{% else %}chapter{% endif %} immediately</label></li>
      </ul>
      <input type="submit" value="Change the publication mode" />
    </form>
  {% else %}
    <p>
      {% if is_standalone %}
      <p>This story was locked by a moderator, and cannot be published.</p>
      {% else %}
      <p>This chapter was locked by a moderator, and cannot be published.</p>
      {% endif %}
    </p>
  {% endif %}
</article>
{% endblock %}
