{% extends "common/base.html" %}

{% block title %}
Settings for story {{ story.title }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<article class="edition_navigation">
  <h1>Settings for story {{ story.title }}</h1>
  <nav>
    <ul>
      {% for author in authors %}
        <li><a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">Back to author {{ author.display_name }}</a></li>
      {% endfor %}
      <li><a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">Back to story {{ story.title }}</a></li>
    </ul>
  </nav>
</article>

<article class="edit_contents" id="authors">
  <fieldset>
    <legend>
      <h2>List of authors</h2>
    </legend>
    {% if show_collaboration_confirm_box %}
    <section class="confirmation_box">
      <p>
        Usage of the collaboration URL was updated successfully!
      </p>
    </section>
    {% endif %}
    {% if show_authors_confirm_box %}
    <section class="confirmation_box">
      <p>
        The author list was changed successfully!
      </p>
    </section>
    {% endif %}
    {% if public_authors.len() > 1 || story.is_collaboration %}
      {% if story.is_collaboration %}
        This story is using a collaboration URL.
        <form class="link-style-form" action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_collaboration_unset/{{ persistent.as_leading_qmark() }}" method="POST">
          <button class="link-like">Stop using the "/collaboration/{{ story.url_fragment }}" URL for this story.</button>
        </form>
      {% else if is_collaboration_url_available %}
        This story is not yet a collaboration, but the collaboration URL is available.
        <form class="link-style-form" action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_collaboration_set/{{ persistent.as_leading_qmark() }}" method="POST">
          <button class="link-like">Register the "/collaboration/{{ story.url_fragment }}" URL for this story.</button>
        </form><br />
        <i>Collaboration URLs are special URLs that allow to link to a story without using a specific author name. When in use, all the other URLs using the author name will redirect to the collaboration URL.</i>
      {% else %}
        The URL "/collaboration/{{ story.url_fragment }}" is already in use, and this story cannot be set as a collaboration.
      {% endif %}
    {% endif %}
    <ul>
      {% for user in public_authors %}
        <li>
          {{ user.display_name }} (<a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">@{{ user.username }}</a>)
          {% if user.id == login_user_id %}
            {% if public_authors.len() == 2 && story.is_collaboration %}
              <a href="#" title="A collaboration needs to have several authors, so you cannot remove yourself from the author list">?</a>
            {% else if public_authors.len() == 1 %}
              <a href="#" title="You are the only author left, and cannot remove yourself from the author list">?</a>
            {% else %}
              <form class="link-style-form" action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_authors_unset_self_as_public/{{ persistent.as_leading_qmark() }}" method="POST">
                <button class="link-like">Remove yourself from the public list of authors</button>
              </form>
            {% endif %}
          {% endif %}
          {% if user.deactivated_by_user %}
            (This account is deactivated)
          {% endif %}
          {% if user.is_banned() %}
            (This account is banned)
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% if non_public_authors.len() > 0 %}
      <p>
        List of unconfirmed co-authors:</br>
        <i>Note: Each additional co-author needs to manually navigate to this page and confirm their name before being publicly visible as co-author</i>
      </p>
      <ul>
        {% for user in non_public_authors %}
          <li>
            {{ user.display_name }} (<a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">@{{ user.username }}</a>)
            {% if user.id == login_user_id %}
              <form class="link-style-form" action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_authors_set_self_as_public/{{ persistent.as_leading_qmark() }}" method="POST">
                <button class="link-like">Confirm yourself as an author</button>
              </form>
            {% else %}
              <form class="link-style-form" action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_access_remove/{{ persistent.as_leading_qmark() }}" method="POST">
                <input type="hidden" name="username" value="{{ user.username }}">
                <button class="link-like">Remove co-author</button>
              </form>
            {% endif %}
            {% if user.deactivated_by_user %}
              (This account is deactivated)
            {% endif %}
            {% if user.is_banned() %}
              (This account is banned)
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <form action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_authors_add/{{ persistent.as_leading_qmark() }}" method="POST">
      <label>
        <p>
          Add a new user as co-author to this story :
          <input id="ownership_addition_field" autocomplete="off" type="text" name="username" />
          <input type="submit" value="Add this user as a co-author">
        </p>
      </label>
    </form>
  </fieldset>
</article>

<article class="edit_contents" id="users">
  <fieldset>
    <legend>
      <h2>List of editors and beta users</h2>
    </legend>
    {% if show_users_confirm_box %}
    <section class="confirmation_box">
      <p>
        The access list was changed successfully!
      </p>
    </section>
    {% endif %}
    <p>
      Editors
    </p>
    {% if editors.len() == 0 %}
    <i>No editors yet. Editors can modify the title, text, description and tags of a story, as well as add new chapters.</i>
    {% else %}
    <ul>
      {% for user in editors %}
        <li>
          (editor)
          {{ user.display_name }} (<a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">@{{ user.username }}</a>)
          {% if user.deactivated_by_user %}
            (This account is deactivated)
          {% endif %}
          {% if user.is_banned() %}
            (This account is banned)
          {% endif %}
          <form class="link-style-form" action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_access_remove/{{ persistent.as_leading_qmark() }}" method="POST">
            <input type="hidden" name="username" value="{{ user.username }}">
            <button class="link-like">Remove as editor</button>
          </form>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    <form action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_readwrite_add/{{ persistent.as_leading_qmark() }}" method="POST">
      <label>
        <p>
          Add a new user as editor to this story :
          <input id="readwrite_addition_field" autocomplete="off" type="text" name="username" />
          <input type="submit" value="Add this user as an editor">
        </p>
      </label>
    </form>
    <p>
      Beta-readers
    </p>
    {% if beta_readers.len() == 0 %}
    <i>No beta readers yet. Beta readers have access to this story regardless of whether it is published or not.</i>
    {% else %}
    <ul>
      {% for user in beta_readers %}
        <li>
          (beta-reader)
          {{ user.display_name }} (<a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">@{{ user.username }}</a>)
          {% if user.deactivated_by_user %}
            (This account is deactivated)
          {% endif %}
          {% if user.is_banned() %}
            (This account is banned)
          {% endif %}
          <form class="link-style-form" action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_access_remove/{{ persistent.as_leading_qmark() }}" method="POST">
            <input type="hidden" name="username" value="{{ user.username }}">
            <button class="link-like">Remove as beta-reader</button>
          </form>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    <form action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_readonly_add/{{ persistent.as_leading_qmark() }}" method="POST">
      <label>
        <p>
          Add a new user as beta-reader to this story :
          <input id="readonly_addition_field" autocomplete="off" type="text" name="username" />
          <input type="submit" value="Add this user as a beta reader">
        </p>
      </label>
    </form>
  </fieldset>
</article>

<article class="edit_contents" id="interaction">
  <form action="/{{ author_path }}/{{ story.url_fragment }}/0/settings_interaction/{{ persistent.as_leading_qmark() }}" method="post">
    <fieldset>
      <legend>
        <h2>User interaction</h2>
      </legend>
      {% if show_interaction_confirm_box %}
      <section class="confirmation_box">
        <p>
          Story content was changed successfully !
        </p>
      </section>
      {% endif %}
      <p>
        Comments :
      </p>
      <ul>
        <li><label><input type="radio" name="comment_mode" value="enable" {% if story.comments_enabled %} checked {% endif %} />Allow comments</label></li>
        <li><label><input type="radio" name="comment_mode" value="disable" {% if !story.comments_enabled %} checked {% endif %} />Do not allow comments</label></li>
      </ul>
      <p>
        Story Suggestions :<br />
        <em>
          Story suggestions are a way for users to suggest your stories to others.
          These suggestions are displayed on the user's own page as well as on your
          story page.
        </em>
      </p>
      <ul>
        <li><label><input type="radio" name="recommendation_mode" value="enable" {% if RecommendationsState::Enabled.matches(story.recommendations_enabled) %} checked {% endif %} />Allow suggestions and show a link to the list of suggestions on the story page</label></li>
        <li><label><input type="radio" name="recommendation_mode" value="users_only" {% if RecommendationsState::UserOnly.matches(story.recommendations_enabled) %} checked {% endif %} />Allow suggestions, but do not show them on the story page</label></li>
        <li><label><input type="radio" name="recommendation_mode" value="disable" {% if RecommendationsState::Disabled.matches(story.recommendations_enabled) %} checked {% endif %} />Do not allow suggestions</label></li>
      </ul>
      <p><input type="submit" value="Click to apply all changes"></p>
    </fieldset>
  </form>
</article>

<script>
  setup_user_autocompletion("ownership_addition_field");
  setup_user_autocompletion("readwrite_addition_field");
  setup_user_autocompletion("readonly_addition_field");
</script>
{% endblock %}
