{% extends "common/base.html" %}

{% block title %}
Statistics for {{ story.title }} - {{ persistent.site.name }}
{% endblock %}

{% block head %}
<style>
  body a.table_head_sort,
  body.theme-dark a.table_head_sort {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
  }
</style>
{% endblock %}

{% macro graph(time_series) %}
<svg width="100%" height="auto" viewBox="0 -10 670 110">
  <g>
    <line x1="10" y1="5" x2="10" y2="95" fill="none" stroke="currentColor" />
    <line x1="5" y1="90" x2="655" y2="90" fill="none" stroke="currentColor" />
  </g>
  <g>
    <line x1="5" y1="10" x2="655" y2="10" fill="none" stroke="currentColor" stroke-dasharray="10 10" />
    <text x="12" y="8" style="font: normal 12px sans-serif;" fill="currentColor">{{ time_series.max }}</text>
  </g>
  <g>
    {% for entry in time_series.data %}
      {% if loop.last %}
      <line x1="{{ entry.prev_x }}" y1="{{ entry.prev_y }}" x2="{{ entry.x }}" y2="{{ entry.y }}" fill="none" stroke="currentColor" stroke-width="2" stroke-dasharray="2"></line>
      {% else %}
      <line x1="{{ entry.prev_x }}" y1="{{ entry.prev_y }}" x2="{{ entry.x }}" y2="{{ entry.y }}" fill="none" stroke="currentColor" stroke-width="2"></line>
      {% endif %}
      {% if entry.show_legend %}
        <text text-anchor="middle" transform="rotate(90,{{ entry.x }},80)" x="{{ entry.x }}" y="80" style="font: normal 8px sans-serif;" fill="currentColor">{{ entry.name }}</text>
      {% endif %}
    {% endfor %}
  </g>
</svg>
{% endmacro %}

{% block body %}
<article class="statistics">
  <section class="edition_navigation">
    <h1>Statistics for <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">{{ story.title }}</a></h1>
    <nav>
      <ul>
        {% for author in authors %}
          <li><a href="/statistics/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">See statistics for author {{ author.display_name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </section>

  <section class="general_stats">
    <fieldset>
      <legend>
        <h3>Overview</h3>
      </legend>
      <table width="100%" style="text-align: center;">
        <thead>
          <tr>
            <th>Hits</th>
            <th>Snaps</th>
            <th><abbr title="Total number of followers for this story, including people following the author(s) of this story">Followers</abbr></th>
            <th>Comments</th>
            <th>Suggestions</th>
            <th>Word count</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ stats.hit_count }}
              {% if stats.chapter_count > 1 %}
                <br />
                <abbr title="This is the average of hits per chapter for this story.">(avg: {{ format!("{:.1}", self.stats.hit_count_avg) }})</abbr>
              {% endif %}
            </td>
            <td>{{ stats.user_approval_count }}</td>
            <td>{{ stats.total_follow_count }}</td>
            <td>{{ stats.comment_count }}</td>
            <td>{{ stats.recommendation_count }}</td>
            <td>{{ stats.word_count }}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </section>

  <section id="graphs_timerange_control" style="float: right;">
    {% if range_query == QueryRangeMode::Daily %}
      24 hours
    {% else %}
      <a href="?range=daily{{ sort_mode.current_amp() }}{{ persistent.as_leading_amp() }}">
        24 hours
      </a>
    {% endif %}
    -
    {% if range_query == QueryRangeMode::Weekly %}
      7 days
    {% else %}
      <a href="?range=weekly{{ sort_mode.current_amp() }}{{ persistent.as_leading_amp() }}">
        7 days
      </a>
    {% endif %}
    -
    {% if range_query == QueryRangeMode::Monthly %}
      30 days
    {% else %}
      <a href="?range=monthly{{ sort_mode.current_amp() }}{{ persistent.as_leading_amp() }}">
        30 days
      </a>
    {% endif %}
    -
    {% if range_query == QueryRangeMode::Last100 %}
      100 days
    {% else %}
      <a href="?range=100{{ sort_mode.current_amp() }}{{ persistent.as_leading_amp() }}">
        100 days
      </a>
    {% endif %}
    -
    {% if range_query == QueryRangeMode::All %}
      all time
    {% else %}
      <a href="?range=all{{ sort_mode.current_amp() }}{{ persistent.as_leading_amp() }}">
        all time
      </a>
    {% endif %}
  </section>

  <section id="hits_graph">
    <header>
      <h3>Hits through time ({{ range_query.description() }})</h3>
    </header>
    {% match story_hits %}
      {% when Some with (time_series) %}
        {% call graph(time_series) %}
      {% when None %}
        <div>(No graph can be displayed : No data was found)</div>
    {% endmatch %}
  </section>

  <details>
    <summary>
      See more graphs
    </summary>
    <section id="snaps_graph">
      <header>
        <h3>Snaps through time ({{ range_query.description() }})</h3>
      </header>
      {% match user_approvals %}
        {% when Some with (time_series) %}
          {% call graph(time_series) %}
        {% when None %}
          <div>(No graph can be displayed : No data was found)</div>
      {% endmatch %}
    </section>

    <section id="comments_graph">
      <header>
        <h3>Comments through time ({{ range_query.description() }})</h3>
      </header>
      {% match comments %}
        {% when Some with (time_series) %}
          {% call graph(time_series) %}
        {% when None %}
          <div>(No graph can be displayed : No data was found)</div>
      {% endmatch %}
    </section>

    <section id="suggestions_graph">
      <header>
        <h3>Suggestions through time ({{ range_query.description() }})</h3>
      </header>
      {% match recommendations %}
        {% when Some with (time_series) %}
          {% call graph(time_series) %}
        {% when None %}
          <div>(No graph can be displayed : No data was found)</div>
      {% endmatch %}
    </section>
  </details>

  <section class="chapter_list">
    <fieldset>
      <legend>
        <h3>Stats per chapter</h3>
      </legend>
      <table width="100%" style="text-align: center;">
        <thead>
          <tr id="table_head">
            <th>
              <a class="table_head_sort" href="?sort_by={{ sort_mode.next_chapter_sort() }}{{ range_query.current_amp() }}{{ persistent.as_leading_amp() }}#table_head">
                Chapter
              </a>
              {{ sort_mode.chapter_symbol() }}
            </th>
            <th>
              <a class="table_head_sort" href="?sort_by={{ sort_mode.next_hits_sort() }}{{ range_query.current_amp() }}{{ persistent.as_leading_amp() }}#table_head">
                Hits
              </a>
              {{ sort_mode.hits_symbol() }}
            </th>
            <th>
              <a class="table_head_sort" href="?sort_by={{ sort_mode.next_comms_sort() }}{{ range_query.current_amp() }}{{ persistent.as_leading_amp() }}#table_head">
                Comments
              </a>
              {{ sort_mode.comms_symbol() }}
            </th>
          </tr>
        </thead>
        <tbody>
          {% for chapter in chapters %}
            <tr>
              <td>
                <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter.chapter_number }}/{{ persistent.as_leading_qmark() }}">
                  {{ chapter.title }}
                </a>
              </td>
              <td>{{ chapter.hits }}</td>
              <td>{{ chapter.comments }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </section>
</article>

{% endblock %}