{% extends "common/base.html" %}

{% block title %}
Tag Statistics for {{ user.display_name }} - {{ persistent.site.name }}
{% endblock %}

{% block head %}
<style>
  body a.table_head_sort,
  body.theme-dark a.table_head_sort {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
  }
</style>
{% endblock %}

{% block body %}
<article class="statistics">
  <section class="edition_navigation">
    <h1>Tag Statistics for {{ user.display_name }} (@{{ user.username }})</h1>
    <nav>
      <ul>
        <li><a href="/statistics/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">Back to your overall statistics</a></li>
      </ul>
    </nav>
  </section>

  <section class="tags">
    <fieldset>
      <legend>
        <h3>Statistics per tag</h3>
      </legend>
      <table width="100%" style="text-align: center;">
        <thead>
          <tr id="table_head">
            <th>
              <a class="table_head_sort" href="?sort_by={{ sort_mode.next_title_sort() }}{{ persistent.as_leading_amp() }}#table_head">
                Tag
              </a>
              {{ sort_mode.title_symbol() }}
            </th>
            <th>
              <a class="table_head_sort" href="?sort_by={{ sort_mode.next_stories_sort() }}{{ persistent.as_leading_amp() }}#table_head">
                Stories
              </a>
              {{ sort_mode.stories_symbol() }}
            </th>
            <th>
              <a class="table_head_sort" href="?sort_by={{ sort_mode.next_hits_sort() }}{{ persistent.as_leading_amp() }}#table_head">
                <abbr title="Hits represent the number of times a single chapter has been viewed. If you have several chapters or stories, hits will be counted several times">Hits</abbr>
              </a>
              {{ sort_mode.hits_symbol() }}
            </th>
            <th>
              <a class="table_head_sort" href="?sort_by={{ sort_mode.next_hits_avg_sort() }}{{ persistent.as_leading_amp() }}#table_head">
                <abbr title="This is the average number of hits per story and chapter.">Hits Avg</abbr>
              </a>
              {{ sort_mode.hits_avg_symbol() }}
            </th>
            <th>
              <a class="table_head_sort" href="?sort_by={{ sort_mode.next_ua_sort() }}{{ persistent.as_leading_amp() }}#table_head">
                Snaps
              </a>
              {{ sort_mode.ua_symbol() }}
            </th>
            <th>
              <a class="table_head_sort" href="?sort_by={{ sort_mode.next_ua_avg_sort() }}{{ persistent.as_leading_amp() }}#table_head">
                <abbr title="This is the average number of snaps per story.">Snaps Avg</abbr>
              </a>
              {{ sort_mode.ua_avg_symbol() }}
            </th>
          </tr>
        </thead>
        <tbody>
          {% for tag in tag_statistics %}
          <tr><td colspan="6"><hr /></td></tr>
          <tr>
            <td>
              <a class="tag-link" href="/search/?q=%23{{ tag.display_name }}{{ persistent.as_leading_amp() }}">
                #{{ tag.display_name }}
              </a>
            </td>
            <td>
              {% if tag.story_count == 1 %}
              {{ tag.story_count }} story
              {% else %}
              {{ tag.story_count }} stories
              {% endif %}
            </td>
            <td>
              {% if tag.hit_count == 1 %}
              {{ tag.hit_count }} hit
              {% else %}
              {{ tag.hit_count }} hits
              {% endif %}
            </td>
            <td>
              {{ format!("{:.1}", tag.hit_count_avg) }}
            </td>
            <td>
              {% if tag.user_approval_count == 1 %}
              {{ tag.user_approval_count }} snap
              {% else %}
              {{ tag.user_approval_count }} snaps
              {% endif %}
            </td>
            <td>
              {{ format!("{:.1}", tag.user_approval_count_avg) }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </section>
</article>

{% endblock %}