account default

host {{ smtp_server }}
port {{ smtp_port }}

auth on
user {{ smtp_user }}
password {{ smtp_pass }}

tls on
tls_starttls {% if smtp_port == 587 %}on{% else %}off{% endif %}

tls_trust_file /etc/ssl/certs/ca-certificates.crt

from {{ mail_sender }}
set_from_header on

syslog LOG_MAIL

aliases /etc/aliases
