{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - List of comments
{% endblock %}

{% block body %}

<h1>List of comments</h1>
<p>
  <a href="/admin/{{ persistent.as_leading_qmark() }}">Back to the administration panel</a>
</p>

<article>
  <header>
    <section id="sorting_modes" class="sorting_modes">
      <div>
        <div>Sort by :&nbsp;</div>
        <section>
          <a href="?sort_by={{ sort_mode.next_creation_sort() }}{{ persistent.as_leading_amp() }}#sorting_modes">
            Creation
          </a>
          {{ sort_mode.creation_symbol() }}
        </section>
      </div>
    </section>
    <h2>List of comments</h2>
  </header>

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/comments/?start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}{{ persistent.as_leading_amp() }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}

  {% for entry in comments %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        <a href="/{{ entry.story.author_path }}/{{ entry.story.url_fragment }}/{{ entry.chapter.chapter_number }}/comments/{{ entry.comment.id }}/">Comment</a>
        by <a href="/@{{ entry.comment_author.username }}/{{ persistent.as_leading_qmark() }}">{{ entry.comment_author.display_name }}</a>
        on <a href="/{{ entry.story.author_path }}/{{ entry.story.url_fragment }}/{{ entry.chapter.chapter_number }}/{{ persistent.as_leading_qmark() }}">
          {{ entry.story.title }} chapter {{ entry.chapter.chapter_number }}
        </a>
        by {% for author in entry.story.authors %}<a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
        ({{ entry.comment.created.format("%Y-%m-%d") }})
      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/comments/?start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}{{ persistent.as_leading_amp() }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}
</article>

{% endblock %}
