{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Deleting comment by {{ comment_user_username }}
{% endblock %}

{% block body %}
<h1>Administration for comment by <a href="/@{{ comment_user_username }}/{{ persistent.as_leading_qmark() }}">{{ comment_user_display_name }}</a></h1>

<article>
  <p>
    Story : <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">{{ story.title }}</a>
    by {% for author in authors %}<a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
  </p>
</article>

<article class="comment">
  <header class="comment-header">
    <a class="comment-username" href="/@{{ comment_user_username }}/{{ persistent.as_leading_qmark() }}">{{ comment_user_display_name }}</a>
    <a class="comment-time" href="/{{ author_path }}/{{ story.url_fragment }}/{{ chapter.chapter_number }}/comments/{{ comment_id }}/{{ persistent.as_leading_qmark() }}">{{ comment_time }}</a></span>
  </header>
  <section class="comment-contents">
    {{ self.formatted_comment|san|safe }}
  </section>
  <form action="/admin/comments/delete/{{ comment_id }}/{{ persistent.as_leading_qmark() }}" method="POST">
    <label><p>
      Enter a justification for the action<br />
      <textarea name="message" class="admin_message"></textarea>
    </p></label>
    <input type="submit" value="Delete this comment" />
  </form>
</article>
{% endblock %}
