{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Deleting suggestion by {{ user.display_name }}
{% endblock %}

{% block body %}

<article>
  <header>
    <h1>Editing the suggestion by <a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">{{ user.display_name }}</a></h1>
    <h2>Suggestion for <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">
      {{ story.title }}
      by {% for author in authors %}{{ author.display_name }}{% if !loop.last %}, {% endif %}{% endfor %}
    </a></h2>
  </header>

  <header>
    <h2>Delete</h2>
  </header>
  <form action="/admin/recommendations/@{{ user.username }}/{{ author_path }}/{{ story.url_fragment }}/delete/{{ persistent.as_leading_qmark() }}" method="POST">
    <h3>Delete this suggestion</h3>
    <label><p>
      Enter a justification for the action<br />
      <textarea name="message" class="admin_message"></textarea>
    </p></label>
    <p><input type="submit" value="Delete this suggestion (moderation action)" /></p>
  </form>
</article>

{% endblock %}