{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Index
{% endblock %}

{% block body %}

<h1>Administration Tools</h1>

<ul>
  <li><a href="/admin/tags/{{ persistent.as_leading_qmark() }}">Manage tags</a></li>
  <li><a href="/admin/tag_highlight_rules_templates/{{ persistent.as_leading_qmark() }}">Manage tag highlight rule templates</a></li>
  <li><a href="/admin/users/{{ persistent.as_leading_qmark() }}">Manage users</a></li>
  <li><a href="/admin/registrations/{{ persistent.as_leading_qmark() }}">Manage registration settings</a></li>
  <li><a href="/admin/statistics/{{ persistent.as_leading_qmark() }}">Check the overall statistics</a></li>
  <li><a href="/admin/unpublished/{{ persistent.as_leading_qmark() }}">Manage unpublished stories</a></li>
  {% if unhandled_reports > 0 %}
  <li><a href="/admin/report_list/new/{{ persistent.as_leading_qmark() }}">Reports : {{ unhandled_reports}} unhandled reports (click to see)</a></li>
  {% else %}
  <li><a href="/admin/report_list/all/{{ persistent.as_leading_qmark() }}">See reports</a></li>
  {% endif %}
  {% if unhandled_modmails > 0 %}
  <li><a href="/admin/modmail/new/{{ persistent.as_leading_qmark() }}">Modmail : {{ unhandled_modmails }} unhandled messages (click to see)</a></li>
  {% else %}
  <li><a href="/admin/modmail/all/{{ persistent.as_leading_qmark() }}">See modmail</a></li>
  {% endif %}
  <li>Edit pages :
    <a href="/admin/static_pages/contact/{{ persistent.as_leading_qmark() }}">Contact Us</a> |
    <a href="/admin/static_pages/faq/{{ persistent.as_leading_qmark() }}">FAQ</a> |
    <a href="/admin/static_pages/legal/{{ persistent.as_leading_qmark() }}">Legal Mentions</a> |
    <a href="/admin/static_pages/rules/{{ persistent.as_leading_qmark() }}">Rules</a> |
    <a href="/admin/static_pages/terms_of_service/{{ persistent.as_leading_qmark() }}">Terms of Service</a>
  </li>
  <li><a href="/admin/moderation_log/{{ persistent.as_leading_qmark() }}">Check the moderation log</a></li>
</ul>

{% endblock %}
