{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Report for comment by @{{ report.comment_author.username }} on {{ report.story.title }}
{% endblock %}

{% block body %}
<h1>Report for comment by @{{ report.comment_author.username }} on {{ report.story.title }}</h1>

<ul>
  <li><a href="/admin/{{ persistent.as_leading_qmark() }}">Back to the administration panel</a></li>
  <li><a href="/admin/report_list/new/{{ persistent.as_leading_qmark() }}">See all unhandled reports</a></li>
  <li><a href="/admin/report_list/all/{{ persistent.as_leading_qmark() }}">See all reports</a></li>
</ul>

<article>
  <h2>Report : </h2>
  <h3>By @{{ report.reporter.username }}</h3>
  <p>
    {{ report.report.reason }}
  </p>
  <ul>
    <li><a class="comment-admin-actions" href="/admin/comments/{{ report.comment.id }}/{{ persistent.as_leading_qmark() }}">Go to the admin panel for this comment</a></li>
    <li><a href="/{{ report.story_author_path }}/{{ report.story.url_fragment }}/0/comments/{{ persistent.as_leading_qmark() }}#{{ report.comment.id }}">See the original comment</a></li>
    {% match report.moderator_who_handled_report %}
    {% when Some with (user_data) %}
    <li>
      Handled by @{{ user_data.username }}
      <form class="link-style-form" action="/admin/report/comment/{{ report.reporter.id }}/{{ report.comment.id }}/unhandled/{{ persistent.as_leading_qmark() }}" method="POST">
        <button class="link-like">(Mark as unhandled)</button>
      </form>
    </li>
    {% when None %}
    <li>
      <form class="link-style-form" action="/admin/report/comment/{{ report.reporter.id }}/{{ report.comment.id }}/handled/{{ persistent.as_leading_qmark() }}" method="POST">
        <button class="link-like">Mark this report as handled</button>
      </form>
    </li>
    {% endmatch %}
  </ul>
  <p>
    Original comment : {{ report.comment.created.format("%Y-%m-%d").to_string() }}<br />
    {{ formatted_comment|san|safe }}
  </p>
</article>

{% endblock %}
