{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Report for {{ report.chapter.get_title(report.story, report.story_is_standalone) }}
{% endblock %}

{% block body %}
<h1>Report for {{ report.chapter.get_title(report.story, report.story_is_standalone) }}</h1>

<ul>
  <li><a href="/admin/{{ persistent.as_leading_qmark() }}">Back to the administration panel</a></li>
  <li><a href="/admin/report_list/new/{{ persistent.as_leading_qmark() }}">See all unhandled reports</a></li>
  <li><a href="/admin/report_list/all/{{ persistent.as_leading_qmark() }}">See all reports</a></li>
</ul>

<article>
  <h2>Report : </h2>
  <h3>By @{{ report.reporter.username }}</h3>
  <p>
    {{ report.report.reason }}
  </p>
  <ul>
    <li><a href="/admin/{{ report.story_author_path }}/{{ report.story.url_fragment }}/{{ report.chapter.chapter_number }}/{{ persistent.as_leading_qmark() }}">Lock or unlock this chapter</a></li>
    <li><a href="/{{ report.story_author_path }}/{{ report.story.url_fragment }}/{{ report.chapter.chapter_number }}/{{ persistent.as_leading_qmark() }}">See the original chapter</a></li>
    {% match report.moderator_who_handled_report %}
    {% when Some with (user_data) %}
    <li>
      Handled by @{{ user_data.username }}
      <form class="link-style-form" action="/admin/report/chapter/{{ report.reporter.id }}/{{ report.chapter.id }}/unhandled/{{ persistent.as_leading_qmark() }}" method="POST">
        <button class="link-like">(Mark as unhandled)</button>
      </form>
    </li>
    {% when None %}
    <li>
      <form class="link-style-form" action="/admin/report/chapter/{{ report.reporter.id }}/{{ report.chapter.id }}/handled/{{ persistent.as_leading_qmark() }}" method="POST">
        <button class="link-like">Mark this report as handled</button>
      </form>
    </li>
    {% endmatch %}
  </ul>
</article>

{% endblock %}
