{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Statistics
{% endblock %}

{% macro graph(time_series) %}
<svg width="100%" height="auto" viewBox="0 -10 670 110">
  <g>
    <line x1="10" y1="5" x2="10" y2="95" fill="none" stroke="currentColor" />
    <line x1="5" y1="90" x2="655" y2="90" fill="none" stroke="currentColor" />
  </g>
  <g>
    <line x1="5" y1="10" x2="655" y2="10" fill="none" stroke="currentColor" stroke-dasharray="10 10" />
    <text x="12" y="8" style="font: normal 12px sans-serif;" fill="currentColor">{{ time_series.max }}</text>
  </g>
  <g>
    {% for entry in time_series.data %}
      {% if loop.last %}
      <line x1="{{ entry.prev_x }}" y1="{{ entry.prev_y }}" x2="{{ entry.x }}" y2="{{ entry.y }}" fill="none" stroke="currentColor" stroke-width="2" stroke-dasharray="2"></line>
      {% else %}
      <line x1="{{ entry.prev_x }}" y1="{{ entry.prev_y }}" x2="{{ entry.x }}" y2="{{ entry.y }}" fill="none" stroke="currentColor" stroke-width="2"></line>
      {% endif %}
      {% if entry.show_legend %}
        <text text-anchor="end" transform="rotate(90,{{ entry.x }},90)" x="{{ entry.x }}" y="90" style="font: normal 8px sans-serif;" fill="currentColor">{{ entry.name }}</text>
      {% endif %}
    {% endfor %}
  </g>
</svg>
{% endmacro %}

{% block body %}
<article class="statistics">
  <section class="edition_navigation">
    <h1>Statistics for {{ persistent.site.name }}</h1>
    <nav>
      <ul>
        <a href="/admin/{{ persistent.as_leading_qmark() }}">Back to the administration panel</a>
      </ul>
    </nav>
  </section>

  <section class="general_stats">
    <fieldset>
      <legend>
        <h3>Overview</h3>
      </legend>
      <table width="100%" style="text-align: center;">
        <thead>
          <tr>
            <th>Users</th>
            <th>Stories</th>
            <th>Hits</th>
            <th>Snaps</th>
            <th>Comments</th>
            <th>Suggestions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ stats.visible_user_count }} (<abbr title="Including banned users">{{ stats.user_count }}</abbr>)</td>
            <td>{{ stats.story_count }} (<abbr title="Including unpublished and locked stories or stories from banned users">{{ stats.admin_story_count }}</abbr>)</td>
            <td>{{ stats.hit_count }}</td>
            <td>{{ stats.user_approval_count }}</td>
            <td>{{ stats.comment_count }}</td>
            <td>{{ stats.recommendation_count }}</td>
          </tr>
          <tr>
            <td><a href="/admin/users/?sort_by=registration_desc{{ persistent.as_leading_amp() }}">(latest)</a></td>
            <td><a href="/admin/stories/?sort_by=creation_desc{{ persistent.as_leading_amp() }}">(latest)</td>
            <td></td>
            <td></td>
            <td><a href="/admin/comments/?sort_by=creation_desc{{ persistent.as_leading_amp() }}">(latest)</a></td>
            <td><a href="/admin/recommendations/?sort_by=creation_desc{{ persistent.as_leading_amp() }}">(latest)</a></td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </section>

  <section id="graphs_timerange_control" style="float: right;">
    {% if range_query == AdminQueryRangeMode::Daily %}
      24 hours
    {% else %}
      <a href="?range=daily{{ persistent.as_leading_amp() }}">
        24 hours
      </a>
    {% endif %}
    -
    {% if range_query == AdminQueryRangeMode::Weekly %}
      7 days
    {% else %}
      <a href="?range=weekly{{ persistent.as_leading_amp() }}">
        7 days
      </a>
    {% endif %}
    -
    {% if range_query == AdminQueryRangeMode::Monthly %}
      30 days
    {% else %}
      <a href="?range=monthly{{ persistent.as_leading_amp() }}">
        30 days
      </a>
    {% endif %}
    -
    {% if range_query == AdminQueryRangeMode::Last100 %}
      100 days
    {% else %}
      <a href="?range=100{{ persistent.as_leading_amp() }}">
        100 days
      </a>
    {% endif %}
  </section>

  <section>
    <header>
      <h3>User registrations ({{ range_query.description() }})</h3>
    </header>
    {% match user_registration %}
      {% when Some with (time_series) %}
        {% call graph(time_series) %}
      {% when None %}
        <div>(No graph can be displayed : No data was found)</div>
    {% endmatch %}
  </section>

  <section>
    <header>
      <h3>Story creations ({{ range_query.description() }})</h3>
    </header>
    {% match story_creation %}
      {% when Some with (time_series) %}
        {% call graph(time_series) %}
      {% when None %}
        <div>(No graph can be displayed : No data was found)</div>
    {% endmatch %}
  </section>

  <section>
    <header>
      <h3>Hits through time ({{ range_query.description() }})</h3>
    </header>
    {% match story_hits %}
      {% when Some with (time_series) %}
        {% call graph(time_series) %}
      {% when None %}
        <div>(No graph can be displayed : No data was found)</div>
    {% endmatch %}
  </section>

  <section>
    <header>
      <h3>Snaps through time ({{ range_query.description() }})</h3>
    </header>
    {% match user_approvals %}
      {% when Some with (time_series) %}
        {% call graph(time_series) %}
      {% when None %}
        <div>(No graph can be displayed : No data was found)</div>
    {% endmatch %}
  </section>

  <section>
    <header>
      <h3>Comments through time ({{ range_query.description() }})</h3>
    </header>
    {% match comments %}
      {% when Some with (time_series) %}
        {% call graph(time_series) %}
      {% when None %}
        <div>(No graph can be displayed : No data was found)</div>
    {% endmatch %}
  </section>

  <section>
    <header>
      <h3>Suggestions through time ({{ range_query.description() }})</h3>
    </header>
    {% match recommendations %}
      {% when Some with (time_series) %}
        {% call graph(time_series) %}
      {% when None %}
        <div>(No graph can be displayed : No data was found)</div>
    {% endmatch %}
  </section>
</article>

{% endblock %}