{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Tag highlight rules - Templates
{% endblock %}

{% block head %}
<style>
  input[name="use_custom_color"]:checked ~ select[name="select_color"] {
    display: none;
  }

  input[name="use_custom_color"]:not(:checked) ~ input[name="custom_color"] {
    display: none;
  }
</style>
{% endblock %}

{% block body %}
<h1>Management Page - Tag highlight rules - Templates</h1>
<p>
  <a href="/admin/{{ persistent.as_leading_qmark() }}">Back to the administration panel</a>
</p>

<article id="rules">
  {% if show_new_template_confirmation %}
  <section class="confirmation_box">
    <p>
      New template added successfully !
    </p>
  </section>
  {% endif %}

  {% if show_template_update_confirmation %}
  <section class="confirmation_box">
    <p>
      Template was updated successfully !
    </p>
  </section>
  {% endif %}

  {% if show_template_delete_confirmation %}
  <section class="confirmation_box">
    <p>
      Template was deleted successfully !
    </p>
  </section>
  {% endif %}

  <details>
    <summary>
      Add a new template
    </summary>
    <form action="/admin/tag_highlight_rules_templates_create/{{ persistent.as_leading_qmark() }}" method="POST">
      <label>Template name : <input type="text" name="new_template_name" /></label><br />
      <label>Template description : <input type="text" name="new_template_description" /></label><br />
      <button>Create a new template</button>
    </form>
  </details>

  {% for template in templates %}
    <details {% if template.is_visible_by_default %}open{% endif %}>
      <summary>
        {{ template.name }} - {{ template.rules.len() }} rules
      </summary>

      <p>
        <form action="/admin/tag_highlight_rules_templates_update/{{ persistent.as_leading_qmark() }}" method="POST">
          <input type="hidden" name="template_name" value="{{ template.name }}" />
          <label>Template name : <input type="text" name="new_template_name" value="{{ template.name }}" /></label><br />
          <label>Template description : <input type="text" name="new_template_description" value="{{ template.description }}" /></label><br />
          <button>Update the template information</button>
        </form>
        <form action="/admin/tag_highlight_rules_templates_delete/{{ persistent.as_leading_qmark() }}" method="POST">
          <input type="hidden" name="template_name" value="{{ template.name }}" />
          <label><input type="checkbox" name="is_confirmed" />Confirm deletion</label>
          <button>Delete this template</button>
        </form>
      </p>

      <p>
        Current rules:
      </p>
      {% for rule_and_index in template.rules %}
        <fieldset>
          <form style="display: inline" action="/admin/tag_highlight_rules_templates_edit_rule/{{ persistent.as_leading_qmark() }}" method="POST">
            <input type="hidden" name="template_name" value="{{ template.name }}" />
            <input type="hidden" name="rule_index" value="{{ rule_and_index.0 }}" />
            <label>
              <span>Position: </span>
              <input name="position" value="{{ rule_and_index.0 + 1 }}" />
            </label>
            <label>
              <span>Tags to match: </span>
              <input name="tags" value="{% for tag in rule_and_index.1.tags %}#{{ tag }}{% if !loop.last %} {% endif %}{% endfor %}" />
            </label>
            <label>
              <span>Color to apply:</span>
              <input id="tag_highlight_rules_color_{{ template.index }}_{{ rule_and_index.0 }}_checkbox" name="use_custom_color" type="checkbox" />
              <label for="tag_highlight_rules_color_{{ template.index }}_{{ rule_and_index.0 }}_checkbox">Use custom colors</label>
              <select name="select_color">
                {% if rule_and_index.1.story_color.is_some() %}
                  <option value="{{ rule_and_index.1.story_color.as_ref().unwrap().to_color() }}" style="background-color: {{ rule_and_index.1.story_color.as_ref().unwrap().to_color() }}" selected>Current</option>
                  <option value="">None</option>
                {% else %}
                  <option value="" selected>None</option>
                {% endif %}
                {% for default_color in persistent.site.default_colors.as_ref() %}
                  <option value="{{ default_color.rgba }}" style="background-color: {{ default_color.rgba }}">{{ default_color.name }}</option>
                {% endfor %}
              </select>
              <input
                name="custom_color"
                {% if rule_and_index.1.story_color.is_some() %}
                  value="{{ rule_and_index.1.story_color.as_ref().unwrap().to_color() }}"
                {% endif %}
              />
            </label>
            <label>
              <span>Symbol to show:</span>
              <input name="symbol" value="{% if rule_and_index.1.story_symbol.is_some() %}{{ rule_and_index.1.story_symbol.as_ref().unwrap() }}{% endif %}" />
            </label>
            <button style="display: inline">Apply changes</button>
          </form>
          <form style="display: inline" action="/admin/tag_highlight_rules_templates_delete_rule/{{ persistent.as_leading_qmark() }}" method="POST">
            <input type="hidden" name="template_name" value="{{ template.name }}" />
            <input type="hidden" name="rule_index" value="{{ rule_and_index.0 }}" />
            <button style="display: inline">Delete rule</button>
          </form>
        </fieldset>
      {% endfor %}

      <p>
        Add a new rule:
      </p>
      <fieldset>
        <form style="display: inline" action="/admin/tag_highlight_rules_templates_add_rule/{{ persistent.as_leading_qmark() }}" method="POST">
          <input type="hidden" name="template_name" value="{{ template.name }}" />
          <label>
            <span>Tags to match:</span>
            <input name="tags" value="" />
          </label>
          <label>
            <span>Color to apply:</span>
            <input id="tag_highlight_rules_color_{{ template.index }}_add_checkbox" name="use_custom_color" type="checkbox" />
            <label for="tag_highlight_rules_color_{{ template.index }}_add_checkbox">Use custom colors</label>
            <select name="select_color">
              <option value="" selected>None</option>
              {% for default_color in persistent.site.default_colors.as_ref() %}
                <option value="{{ default_color.rgba }}" style="background-color: {{ default_color.rgba }}">{{ default_color.name }}</option>
              {% endfor %}
            </select>
            <input name="custom_color" />
          </label>
          <label>
            <span>Symbol to show:</span>
            <input name="symbol" value="" />
          </label>
          <button style="display: inline">Add new rule</button>
        </form>
      </fieldset>
    </details>
  {% endfor %}
</article>

{% endblock %}
