{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - List of Users
{% endblock %}

{% block body %}
<h1>User Management</h1>
<p>
  <a href="/admin/{{ persistent.as_leading_qmark() }}">Back to the administration panel</a>
</p>

<article>
  <header>
    <section id="sorting_modes" class="sorting_modes">
      <div>
        <div>Sort by :&nbsp;</div>
        <section>
          <a href="?sort_by={{ sort_mode.next_username_sort() }}{{ persistent.as_leading_amp() }}#sorting_modes">
            Username
          </a>
          {{ sort_mode.username_symbol() }}
        </section>
        <section>
          <a href="?sort_by={{ sort_mode.next_registration_sort() }}{{ persistent.as_leading_amp() }}#sorting_modes">
            Creation
          </a>
          {{ sort_mode.registration_symbol() }}
        </section>
      </div>
    </section>
    <h2>List of users</h2>
  </header>

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/users/?start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}{{ persistent.as_leading_amp() }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}

  {% for user in users %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        <a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">@{{ user.username }} - {{ user.display_name }}</a>
        {% if user.administrator %}
          <em>(Administrator account)</em>
        {% endif%}
        {% if user.deactivated_by_user %}
          <em>(this user deactivated their account)</em>
        {% endif %}
        {% if user.is_warned() %}
          <em>(this user is currently warned)</em>
        {% endif %}
        {% if user.is_muted() %}
          <em>(this user is currently muted)</em>
        {% endif %}
        {% if user.is_banned() %}
          <em>(this user is currently banned)</em>
        {% endif %}
        (<a href="/admin/users/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">edit</a>)
        (<a href="/admin/modmail/user/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">modmail</a>)
      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

  {% if page_listing.should_display() %}
  <nav class="page-navigation">
    {% for page_list_entry in page_listing.page_list %}
      {% if page_list_entry.page == page_listing.current_page %}
        <span>{{ page_list_entry.page }}</span>
      {% elseif page_list_entry.is_ellipses %}
        <span>...</span>
      {% else %}
        <a href="/admin/users/?start={{ page_list_entry.start }}{{ sort_mode.current_amp() }}{{ persistent.as_leading_amp() }}">{{ page_list_entry.page }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  {% endif %}
</article>

{% endblock %}
