{% extends "common/base.html" %}

{% block title %}
{{ persistent.site.name }} Administration - Modify User
{% endblock %}

{% block body %}
<h1>User Management</h1>
<p>
  <a href="/admin/{{ persistent.as_leading_qmark() }}">Back to the administration panel</a><br />
  <a href="/admin/users/{{ persistent.as_leading_qmark() }}">Back to the list of users</a><br />
  <a href="/admin/modmail/user/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">See the modmails and/or send a new modmail to this user</a><br />
  <a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">Go to the user page</a>
</p>

<article>
  <header>
    <h2>Modify the user <a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">{{ user.display_name }} (@{{ user.username }})</a></h2>
  </header>
  
  <p>Status :</p>
  <ul>
    {% if user.administrator %}
      <li>Administrator account</li>
    {% else %}
      <li>Normal user</li>
    {% endif %}
    {% if user.password_reset_required %}
      <li><em>(this account is awaiting a password reset)</em></li>
    {% endif %}
    {% if user.deactivated_by_user %}
      <li><em>(this user deactivated their account)</em></li>
    {% endif %}
    {% match user.warned_until %}
     {% when Some with (time_end) %}
        <li><em>(this user is warned until {{ time_end.format("%Y-%m-%d") }})</em></li>
      {% when None %}
    {% endmatch %}
    {% match user.muted_until %}
     {% when Some with (time_end) %}
        <li><em>(this user is muted until {{ time_end.format("%Y-%m-%d") }})</em></li>
      {% when None %}
    {% endmatch %}
    {% match user.banned_until %}
     {% when Some with (time_end) %}
        <li><em>(this user is banned until {{ time_end.format("%Y-%m-%d") }})</em></li>
      {% when None %}
    {% endmatch %}
    {% match account_deletion_request %}
      {% when Some with (deletion_request) %}
        {% if deletion_request.1 %}
          <li><em>The user requested deletion on {{ deletion_request.0.format("%Y-%m-%d") }}</em></li>
        {% else %}
          <li><em>A moderator requested deletion on {{ deletion_request.0.format("%Y-%m-%d") }}</em></li>
        {% endif %}
      {% when None %}
    {% endmatch %}
  </ul>

  <form action="/admin/users/@{{ user.username }}/reset_password/{{ persistent.as_leading_qmark() }}" method="POST">
    <fieldset>
      <legend>
        <h3>Reset this user's password</h3>
      </legend>
      <p>
        <label>
          Enter the new, temporary password (the user will be required to change it after logging in)<br />
          <input type="text" name="new_password" />
        </label>
      </p>
      <p>
        <label>
          Enter a justification for the action<br />
          <strong>Note : The user will be able to see this justification</strong><br />
          <textarea name="message" class="admin_message"></textarea>
        </label>
      </p>
      <p><input type="submit" value="Change the password to the temporary password" /></p>
    </fieldset>
  </form>

  {% if user.is_warned() %}
    <form action="/admin/users/@{{ user.username }}/unwarn/{{ persistent.as_leading_qmark() }}" method="POST">
      <fieldset>
        <legend>
          <h3>Remove the active warning on this account</h3>
        </legend>
        <p>
          <label>
            Enter a justification for the action<br />
            <strong>Note : The user will be able to see this justification</strong><br />
            <textarea name="message" class="admin_message"></textarea>
          </label>
        </p>
        <p><input type="submit" value="Remove the warning" /></p>
      </fieldset>
    </form>
  {% else %}
    <form action="/admin/users/@{{ user.username }}/warn/{{ persistent.as_leading_qmark() }}" method="POST">
      <fieldset>
        <legend>
          <h3>Warn this account (lasts 30 days)</h3>
        </legend>
        <p>
          <label>
            Enter a justification for the action<br />
            <strong>Note : The user will be able to see this justification</strong><br />
            <textarea name="message" class="admin_message"></textarea>
          </label>
        </p>
        <p>
          <label>
            Warning duration : <input type="text" name="duration" value="{{ crate::endpoints::admin::users::DEFAULT_WARNING_DURATION_IN_DAYS }}" /> days
          </label>
        </p>
        <p><input type="submit" value="Warn the account of this user" /></p>
      </fieldset>
    </form>
  {% endif %}

  {% if user.is_muted() %}
    <form action="/admin/users/@{{ user.username }}/unmute/{{ persistent.as_leading_qmark() }}" method="POST">
      <fieldset>
        <legend>
          <h3>Unmute this account</h3>
        </legend>
        <p>
          <label>
            Enter a justification for the action<br />
            <strong>Note : The user will be able to see this justification</strong><br />
            <textarea name="message" class="admin_message"></textarea>
          </label>
        </p>
        <p><input type="submit" value="Unmute the account of this user" /></p>
      </fieldset>
    </form>
  {% else %}
    <form action="/admin/users/@{{ user.username }}/mute/{{ persistent.as_leading_qmark() }}" method="POST">
      <fieldset>
        <legend>
          <h3>Mute this account</h3>
        </legend>
        <p>
          <label>
            Enter a justification for the action<br />
            <strong>Note : The user will be able to see this justification</strong><br />
            <textarea name="message" class="admin_message"></textarea>
          </label>
        </p>
        <p>
          <label>
            Mute duration : <input type="text" name="duration" value="{{ crate::endpoints::admin::users::DEFAULT_MUTE_DURATION_IN_DAYS }}" /> days
          </label>
        </p>
        <p><input type="submit" value="Mute the account of this user" /></p>
      </fieldset>
    </form>
  {% endif %}

  {% if user.is_banned() %}
    {% if account_deletion_request.is_some() %}
      <fieldset>
        <legend>
          <h3>Unban this account</h3>
        </legend>
        <p>
          This account is planified for deletion, and cannot be unbanned until the deletion request is canceled.
        </p>
      </fieldset>
    {% else %}
      <form action="/admin/users/@{{ user.username }}/unban/{{ persistent.as_leading_qmark() }}" method="POST">
        <fieldset>
          <legend>
            <h3>Unban this account</h3>
          </legend>
          <p>
            <label>
              Enter a justification for the action<br />
              <strong>Note : The user will be able to see this justification</strong><br />
              <textarea name="message" class="admin_message"></textarea>
            </label>
          </p>
          <input type="submit" value="Enable the account of this user" />
        </fieldset>
      </form>
    {% endif %}
  {% else %}
    <form action="/admin/users/@{{ user.username }}/ban/{{ persistent.as_leading_qmark() }}" method="POST">
      <fieldset>
        <legend>
          <h3>Ban this account</h3>
        </legend>
        <p>
          <label>
            Enter a justification for the action<br />
            <strong>Note : The user will be able to see this justification</strong><br />
            <textarea name="message" class="admin_message"></textarea>
          </label>
        </p>
        <p>
          <label>
            Ban duration : <input type="text" name="duration" value="{{ crate::endpoints::admin::users::DEFAULT_BAN_DURATION_IN_DAYS }}" /> days
          </label>
        </p>
        <p><input type="submit" value="Disable the account of this user" /></p>
      </fieldset>
    </form>
  {% endif %}

  {% if account_deletion_request.is_some() %}
    <form action="/admin/users/@{{ user.username }}/cancel_delete/{{ persistent.as_leading_qmark() }}" method="POST">
      <fieldset>
        <legend>
          <h3 style="color: green;">Cancel account deletion</h3>
        </legend>
        <p>
          <label>
            Enter a justification for the action<br />
            <strong>Note : The user will be able to see this justification</strong><br />
            <textarea name="message" class="admin_message"></textarea>
          </label>
        </p>
        <input type="submit" value="Cancel the deletion of this account" />
      </fieldset>
    </form>
  {% else %}
    {% if user.is_banned() %}
      <form action="/admin/users/@{{ user.username }}/delete/{{ persistent.as_leading_qmark() }}" method="POST">
        <fieldset>
          <legend>
            <h3 style="color: red;">Delete account</h3>
          </legend>
          <p>
            <label>
              Enter a justification for the action<br />
              <strong>Note : The user will be able to see this justification</strong><br />
              <textarea name="message" class="admin_message"></textarea>
            </label>
          </p>
          <input type="submit" value="Delete this account" />
        </fieldset>
      </form>
    {% endif %}
  {% endif %}

  {% if administrator_promotion_enabled %}
    {% if user.administrator %}
      <form action="/admin/users/@{{ user.username }}/demote_administrator/{{ persistent.as_leading_qmark() }}" method="POST">
        <fieldset>
          <legend>
            <h3>Remove administrator status</h3>
          </legend>
          <p>
            <label>
              Enter a justification for the action<br />
              <strong>Note : The user will be able to see this justification</strong><br />
              <textarea name="message" class="admin_message"></textarea>
            </label>
          </p>
          <p><input type="submit" value="Remove this user from the list of administrators" /></p>
        </fieldset>
      </form>
    {% else %}
      <form action="/admin/users/@{{ user.username }}/promote_administrator/{{ persistent.as_leading_qmark() }}" method="POST">
        <fieldset>
          <legend>
            <h3>Set user as administrator</h3>
          </legend>
          <p>
            <label>
              Enter a justification for the action<br />
              <strong>Note : The user will be able to see this justification</strong><br />
              <textarea name="message" class="admin_message"></textarea>
            </label>
          </p>
          <p><input type="submit" value="Add this user to the list of administrators" /></p>
        </fieldset>
      </form>
    {% endif %}
  {% endif %}

</article>

{% endblock %}
