{% extends "common/base.html" %}

{% block title %}
Editing suggestion by {{ user.display_name }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}

<article>
  <header>
    <h1>Editing the suggestion by <a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">{{ user.display_name }}</a></h1>
    <h2>Suggestion for <a href="/@{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">{{ story.title }}</a></h2>
  </header>

  <nav>
    <ul>
      {% for author in authors %}
        <li><a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">Back to author {{ author.display_name }}</a></li>
      {% endfor %}
      <li><a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">Back to story {{ story.title }}</a></li>
    </ul>
  </nav>

  <form action="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user.username }}/{{ author_path }}/{{ story.url_fragment }}/edit/{{ persistent.as_leading_qmark() }}" method="POST">
    <p><label>
      Suggestion contents<br>
      <div class="markdown_explanations">
        Note: User details use Markdown formatting. Use :
        <ul>
          <li><code>_italics_</code> or <code>*italics*</code> to display <em>italics</em></li>
          <li><code>**bold**</code> to display <strong>bold</strong></li>
          <li><code>~~strikethrough~~</code> to display <s>strikethrough</s></li>
          <li><code>[a link](example.com)</code> to display <a href="example.com">a link</a></li>
        </ul>
        See <a href="https://guides.github.com/features/mastering-markdown/" target="blank">here</a> for a guide about markdown (opens a new tab)
      </div>
      <textarea class="story_description" name="content">{{ recommendation_description.inner }}</textarea>
    </label></p>
    <p><input type="submit" value="Update the suggestion" /></p>
  </form>
</article>

<article>
  <header>
    <h2>Delete</h2>
  </header>
  <form action="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user.username }}/{{ author_path }}/{{ story.url_fragment }}/delete/{{ persistent.as_leading_qmark() }}" method="POST">
    <p><input type="submit" value="Delete this suggestion (cannot be undone)" /></p>
  </form>
</article>

{% endblock %}
