{% extends "common/base.html" %}

{% block title %}
Suggest {{ story.title }} to other users - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<article class="edit_contents">
  <header>
    <h1>Suggest the story {{ story.title }} to other users</h1>
    <nav>
      <ul>
        {% for author in authors %}
          <li><a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">Back to author {{ author.display_name }}</a></li>
        {% endfor %}
        <li><a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">Back to story {{ story.title }}</a></li>
      </ul>
    </nav>
  </header>
  <form action="/{{ intertextual::constants::RECOMMENDATION_URL }}/add/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}" method="post">
    <label>
      <h3>(optional) Write down why you would suggest this story to others</h3>
      <div class="markdown_explanations">
        Note: Suggestions use Markdown formatting. Use :
        <ul>
          <li><code>## Header</code> to create a header</li>
          <li><code>&gt; quote</code> to create a quoted line of text</li>
          <li><code>_italics_</code> or <code>*italics*</code> to display <em>italics</em></li>
          <li><code>**bold**</code> to display <strong>bold</strong></li>
          <li><code>~~strikethrough~~</code> to display <s>strikethrough</s></li>
          <li><code>[a link](example.com)</code> to display <a href="example.com">a link</a></li>
        </ul>
        See <a href="https://guides.github.com/features/mastering-markdown/" target="blank">here</a> for a guide about markdown (opens a new tab)
      </div>
      <textarea class="story_description" name="description"></textarea>
    </label>
    <p><input type="submit" value="Click to suggest this story"></p>
  </form>
</article>
{% endblock %}
