{% extends "common/base.html" %}

{% block title %}
Suggestions for {{ story.title }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<article>
  <header>
    <h1>
      {% if recommendations.len() == 1 %}
        1 user
      {% else %}
        {{ recommendations.len() }} users
      {% endif %}
      suggested <a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}"></a>{{ story.title }}</a>
    </h1>
    <h2>by {% for author in authors %}<a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}</h2>

  </header>

  <nav class="chapter-navigation">
    <p><a href="/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">Back to story index</a></p>
  </nav>

  <article class="story-card-grid">
    {% if recommendations.is_empty() %}
    <section class="empty-story-card-grid">
      This story hasn't been suggested yet.
    </section>
    {% endif %}

    {% for recommendation in recommendations %}
    <section class="recommendation story-card-large">
      <div class="story-card-recommender">
        Suggestion by <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ recommendation.username }}/{{ persistent.as_leading_qmark() }}">{{ recommendation.display_name }}</a>
      </div>
      <div class="story-card-controls">
        {% if is_administrator %}
          <div class="story-card-control-entry">
            <a href="/admin/recommendations/@{{ recommendation.username }}/{{ author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">(admin action : delete)</a>
          </div>
        {% endif %}
        {% if recommendation.is_self %}
          <div class="story-card-control-entry">
            <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ recommendation.username }}/{{ author_path }}/{{ story.url_fragment }}/edit/{{ persistent.as_leading_qmark() }}">(edit this suggestion)</a>
          </div>
        {% endif %}
        {% if recommendation.can_report %}
          <div class="story-card-control-entry">
            {% if recommendation.is_already_reported %}
              You already reported this suggestion.
              <form class="link-style-form" action="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ recommendation.username }}/{{ author_path }}/{{ story.url_fragment }}/unreport/{{ persistent.as_leading_qmark() }}" method="POST">
                <button class="link-like">(undo)</button>
              </form>
            {% else %}
              <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ recommendation.username }}/{{ author_path }}/{{ story.url_fragment }}/report/{{ persistent.as_leading_qmark() }}">(report this suggestion)</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% if !recommendation.formatted_recommendation.is_empty() %}
        <p class="story-card-recommendation">
          {{ recommendation.formatted_recommendation|san|safe }}
        </p>
      {% endif %}
    </section>
    {% endfor %}
  </article>
</article>

{% endblock %}
