/* ========================== */
/* === General and shared === */
/* ========================== */

body {
  width: 100vw;
  line-height: 1.6;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

#navbar-top {
  background-color: #222;
  color: #fff;
}

#navbar-bottom {
  background-color: #555;
  color: #fff;
}

#main-content {
  margin: 20px auto;
  max-width: 95vw;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

input,
textarea,
select {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 5px;
}

textarea.story_description {
  width: 100%;
  height: 8em;
}

textarea.author-note {
  width: 100%;
  height: 12em;
}

textarea#content {
  width: 100%;
  height: 60em;
}

input.input-full-width {
  width: 100%;
}

textarea.admin_message {
  width: 80%;
  height: 8em;
}

div.markdown_explanations {
  font-size: 0.8em;
}

section.story-report {
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
}

.autocomplete-list {
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #444;
  font-size: 1em;
}

.autocomplete-entry {
  padding: 4px 4px;
  font-size: 0.8em;
  cursor: pointer;
}

.autocomplete-entry:hover {
  background-color: #ccc;
}

.color-picker {
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #444;
  font-size: 1em;
}

.color-picker-entry {
  padding: 4px 4px;
  font-size: 0.8em;
  cursor: pointer;
}

.autocomplete-tag-story-count,
.autocomplete-tag-category {
  color: #666;
  font-size: 0.8em;
}

.page-navigation {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type="submit"]:not(:disabled),
input[type="button"]:not(:disabled) {
  cursor: pointer;
}

form.link-style-form {
  display: inline;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
}

body form.link-style-form input[type="submit"].link-like,
body form.link-style-form input[type="submit"].link-like:hover:not(:disabled),
body form.link-style-form button.link-like,
body form.link-style-form button.link-like:hover:not(:disabled) {
  display: inline;
  border: none;
  background: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}

section.confirmation_box {
  margin: 5px auto;
  text-align: center;
  max-width: 500px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}

section.sorting_modes {
  float: right;
}
section.sorting_modes > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
section.sorting_modes > div > section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: 2px;
}

/* ==================== */
/* ===    Stories   === */
/* ==================== */

nav.chapter-navigation {
  display: flex;
  flex-direction: none;
  align-content: center;
  justify-content: center;
}

nav.chapter-navigation > nav {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 200px;
  border-style: solid;
  border-width: 2px;
  text-align: center;
}

#story-actions-list,
#share-actions-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#story-actions-list .follow,
#story-actions-list .suggestions,
#story-actions-list .snaps,
#story-actions-list .share,
#share-actions-list .share {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: 2px;
}
#story-actions-list .follow div,
#story-actions-list .suggestions div,
#story-actions-list .snaps div,
#story-actions-list .snaps details,
#story-actions-list .share div,
#story-actions-list .share details,
#share-actions-list .share div,
#share-actions-list .share details {
  padding-top: 10px;
  padding-bottom: 10px;
}
#story-actions-list .snaps details summary,
#story-actions-list .share details summary,
#share-actions-list .share details summary {
  list-style: none;
  cursor: pointer;
}
#story-actions-list .snaps details summary::-webkit-details-marker,
#story-actions-list .share details summary::-webkit-details-marker,
#share-actions-list .share details summary::-webkit-details-marker {
  display: none;
}
#story-actions-list .snaps .log-in-info {
  display: block;
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
}

.centered-section {
  margin: 20px auto;
  max-width: 960px;
}

section.chapter-prose {
    margin-top: 1em;
    margin-bottom: 1em;
}

section.chapter-prose p {
  margin-top: 0.25em;
  margin-bottom: 0;
}

section.chapter-prose p + p { text-indent: 2rem; }

/* Handle empty paragraphs properly as "section breaks" */
section.chapter-prose p:empty { padding-top: 1em; }
section.chapter-prose p:empty + p { text-indent: 0; }

section.author-note {
  padding: 0.4em 1em;
  margin-left: 3em;
  margin-right: 3em;
}

section.author-note > p:first-child { margin-top: 0em; }

section.chapter-prose blockquote {
  padding-left: 1em;
  border-left: 3px solid;
}

section.chapter-prose blockquote blockquote {
  margin-left: 0;
}

section.chapter-prose hr {
  border: none;
  text-align: center;
  letter-spacing: 1em;
  color: inherit;
}

section.chapter-prose hr:before { content: "* * *"; }

section.chapter-prose pre {
    white-space: pre-line;
    text-align: left;
}

section.chapter-prose code,
section.chapter-prose samp {
    text-justify: none;
}

div.error-field {
  padding: 5px 10px;
  font-size: 1em;
  color: red;
}

/* ==================== */
/* ===     Tags     === */
/* ==================== */

a.tag-link,
.tag-link-like {
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 0.1em 0.5rem 0.2em 0.5rem;
}

#tags-actions-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#tags-actions-list .listing,
#tags-actions-list .popular {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: 2px;
}

/* ==================== */
/* ===    Navbar    === */
/* ==================== */
#navbar {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 110px;
  z-index: 100;
  font-size: 18px;
}

#navbar-top {
  clear: both;
  width: calc(100vw - 20px);
  height: 60px;
  padding: 5px 10px;
}

#navbar-bottom {
  clear: both;
  width: calc(100vw - 20px);
  height: 50px;
  padding: 0px 10px 0px 10px;
}

#navbar .nav-main-item {
  max-height: 3.2rem;
  overflow: hidden;
}

#navbar .nav-main-item a {
  display: inline-block;
  max-height: 50px;
  padding: 0 10px;
  border-radius: 8px;
}

#navbar .nav-main-item img {
  max-width: 150px;
  max-height: 50px;
  margin-top: 0px;
}

#navbar .nav-left {
  float: left;
  line-height: 50px;
}

#navbar .nav-right {
  float: right;
  line-height: 50px;
}

#navbar a.nav-link,
#navbar form.nav-link button {
  color: #ddd;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 8px;
}

#navbar div.nav-right.nav-right-rightmost {
  margin-right: 10px;
}

#navbar .nav-search-icon svg {
  position: relative;
  top: 5px;
}
#navbar .nav-search-icon:hover svg {
  stroke: #111 !important;
}

#navbar .nav-typeset {
  color: #ddd;
  margin-top: 5px;
  margin-right: 10px;
  line-height: 40px;
}

#navbar details.nav-typeset summary {
  list-style: none;
  padding: 0px 10px;
  border-radius: 8px;
  cursor: pointer;
}
#navbar details.nav-typeset summary::-webkit-details-marker { display: none; }

#navbar .nav-typeset:hover summary {
  color: #111;
  background-color: #ddd;
}

#navbar .nav-username {
  position: relative;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-notifications {
  position: relative;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-notification-badge {
  position: absolute;
  bottom: 0.2em;
  font-size: 0.8em;
  left: 0px;
  line-height: 1em;
  padding: 2px 5px;
  border-radius: 5px;
  background: #d00;
  text-align: center;
  font-weight: bold;
  color: white;
}

.nav-notification-event-badge {
  position: absolute;
  top: 0.5rem;
  left: 0px;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  background: grey;
  text-align: center;
  font-weight: bold;
  color: white;
}

#navbar .nav-icon a svg {
  position: relative;
  top: 7px;
}

#navbar a.nav-link:hover,
#navbar form.nav-link button:hover {
  color: #111;
  background-color: #ddd;
}

#typeset-submenu {
  display: block;
  position: fixed;
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  background-color: #333333;
}

#typeset-submenu a,
#typeset-submenu a:visited {
  color: #aaa;
}

.light-dark-toggle,
.font-style-toggle,
.font-size-toggle,
.text-align-toggle,
.content-width-toggle,
.paragraph-layout-toggle {
  text-align: center;
}

.text-align-toggle a.alignment-selected,
.content-width-toggle a.size-selected,
.paragraph-layout-toggle a.layout-selected {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
}

.font-size-disabled {
  cursor: default;
  color: #555 !important;
}

div.sidepanel {
  display: none;
}

/* ======================== */
/* === Age Verification === */
/* ======================== */

#age-verification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

#age-verification-modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  max-width: 90vw;
  max-height: 90vh;
  text-align: center;
}

#age-verification-button {
  font-size: 1.5em;
  cursor: pointer;
}

/* ===================== */
/* ===   Main Page   === */
/* ===================== */

h1.main-title {
  text-align: center;
}

p.main-page-presentation {
  text-align: center;
}

#main-search {
  text-align: center;
}
#main-search input {
  font-size: 1.5em;
  padding: 10px;
  margin: 0;
}
#main-search input[type='text'] {
  width: 50vw;
}
#main-search input[type='submit'] {
  width: 200px;
}

.story-card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.story-card-grid::after {
  content: '';
  flex: auto;
}

.story-card-grid header {
  flex-grow: 0;
  width: 90vw;
  margin: 10px;
}

.story-card-grid .story-card {
  width: calc(47.5vw - 50px);
  height: auto;
  border-width: 5px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.story-card-grid .story-card-large {
  width: 90vw;
  height: auto;
  border-width: 5px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.story-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.story-card-title a {
  text-decoration: underline;
  cursor: pointer;
}

.story-card-title a:hover {
  text-decoration: underline dotted;
}

.story-card-publication-date {
  float: right;
}

.story-card-symbol {
  margin-right: 1em;
  font-size: 1.5em;
  float: right;
  font-family:
    apple color emoji,
    segoe ui emoji,
    noto color emoji,
    android emoji,
    emojisymbols,
    emojione mozilla,
    twemoji mozilla,
    segoe ui symbol;
}

.story-card-hidden-info {
  margin-left: 1em;
  float: right;
}

.story-card-authors {
  float: left;
}

.story-card-recommender {
  float: left;
  font-weight: bold;
}

.story-card-match-percent {
  float: right;
}

.story-card-word-count {
  float: right;
}

.story-card-mark-for-later-info {
  font-size: 0.8em;
  float: right;
}

.story-card-controls {
  float: right;
  display: flex;
  flex-direction: row;
}

.story-card-tags {
  clear: both;
}

.story-card-tags > summary { list-style: none; }
.story-card-tags > summary::-webkit-details-marker { display: none; }
.story-card-tags-spoilered-mandatory > summary { list-style: none; }
.story-card-tags-spoilered-mandatory > summary::-webkit-details-marker { display: none; }

.story-card-description, .story-card-recommendation {
  clear: both;
}

.recommendation .story-card-description {
  font-style: italic;
}

.aggregated-story-card-authors {
  font-size: 1.5em;
  font-weight: bold;
}

.aggregated-story-card-authors {
  font-size: 1.5em;
  font-weight: bold;
}

.aggregated-story-card-entry-extra {
  float: right;
}

.aggregated-story-card-entry-symbol {
  margin-right: 1em;
  float: right;
  font-family:
    apple color emoji,
    segoe ui emoji,
    noto color emoji,
    android emoji,
    emojisymbols,
    emojione mozilla,
    twemoji mozilla,
    segoe ui symbol;
}


/* ======================== */
/* ===  Specific Pages  === */
/* ======================== */

#main-search {
  text-align: center;
}

#main-search input {
  font-size: 1.5em;
  padding: 10px;
  margin: 0;
}

#main-search input[type='text'] {
  width: 50vw;
}

#main-search input[type='submit'] {
  width: 200px;
}

#main-search input[type='submit'] {
  width: 200px;
}

#main-search-advanced {
  max-width: 650px;
}

.main-login {
  margin: 0px auto;
  text-align: center;
}

table.notifications {
  border-collapse: collapse;
}

table.notifications td {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

td.notification_time {
  text-align: center;
}

td.notification_content {
  text-align: left;
}

/* ==================== */
/* ===   Comments   === */
/* ==================== */

article.new_comment {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

article.comment-list-hidden {
  text-align: center;
}
article.comment-list {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

article.comment {
  padding: 5px;
}

article.comment .comment-time,
article.comment .comment-time:visited {
  font-size: 0.8em;
  color: #666;
  text-decoration: none;
}

article.comment .comment-already-reported {
  font-size: 0.8em;
  float: right;
}

article.comment .comment-reply,
article.comment .comment-edit,
article.comment .comment-delete,
article.comment .comment-report,
article.comment .comment-admin-actions {
  font-size: 0.8em;
  text-decoration: none;
  float: right;
}
article.comment .comment-reply:hover,
article.comment .comment-edit:hover,
article.comment .comment-delete:hover,
article.comment .comment-report:hover,
article.comment .comment-admin-actions:hover {
  text-decoration: underline;
}

article.statistics {
  max-width: 650px;
  margin: 0px auto;
}

/* ================== */
/* ===   Mobile   === */
/* ================== */

@media screen and (max-width: 670px) {
  .story-card-grid .story-card {
    width: 90vw !important;
  }

  #navbar .nav-can-collapse {
    display: none;
  }

  #navbar {
    height: 60px;
  }

  #navbar-bottom {
    display: none;
  }

  #navbar #nav-right-menu-button.nav-right {
    position: relative;
    line-height: 40px;
  }

  #sidepanel > #sidepanel-opener ~ #sidepanel-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 125vw;
    width: calc(90vw - 50px);
    height: 100vh;
    padding: 20px 5vw 5vh 5vw;
    overflow: hidden;
    background: #333;
    transition: left 0.5s;
  }

  #sidepanel > #sidepanel-opener:checked ~ #sidepanel-contents {
    display: flex;
    left: 50px;
  }

  #sidepanel
    > #sidepanel-opener
    ~ #sidepanel-contents
    ~ #sidepanel-contents-close {
    display: block;
    position: fixed;
    top: 0;
    left: 100vw;
    width: 50px;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    transition: left 0.5s;
  }

  #sidepanel
    > #sidepanel-opener:checked
    ~ #sidepanel-contents
    ~ #sidepanel-contents-close {
    display: flex;
    left: 0;
    font-size: 18px;
  }

  #sidepanel-contents {
    font-size: 18px;
  }

  #sidepanel-contents > hr {
    width: 100%;
  }

  #sidepanel-contents > div a,
  #sidepanel-contents > div form button {
    color: #ddd;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 8px;
  }

  #sidepanel-contents > div.nav-notifications {
    padding: 5px;
  }

  #sidepanel-contents > div a:hover,
  #sidepanel-contents > div form button:hover {
    color: #111;
    background-color: #ddd;
  }

  #sidepanel-contents .typeset {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #sidepanel-contents .typeset > div {
    display: flex;
    flex-direction: column;
    height: 90px;
  }

  section.author-note {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media screen and (min-width: 670px) {
  div#sidepanel,
  #nav-right-menu-button {
    display: none;
  }
}

@media print {
  #navbar,
  #nav-hr,
  #sidepanel,
  .chapter-navigation {
    display: none;
  }
}

/* ================== */
/* ===   Themes   === */
/* ================== */

/* Standard Theme */
body { font-family: serif; }
body section.chapter-prose { text-align: left; }

/* Sans-serif theme */
body.font-sans-serif {
  font-family: sans-serif;
}

a.font-serif {
  font-family: serif;
}

a.font-sans-serif {
  font-family: sans-serif;
}

/* Justify */
body.text-justify section.chapter-prose {
  text-align: justify;
}

/* Narrow content */

body.content-narrow .centered-section {
  max-width: 650px;
}

/* Modern-styled paragraphs */
body.paragraph-style-modern section.chapter-prose p {
  margin-top: 1em;
  margin-bottom: 1em;
}

body.paragraph-style-modern section.chapter-prose p + p { text-indent: 0rem; }

/* ================== */
/* ===   Themes   === */
/* ================== */

/* Default theme */
body {
  color: #444;
  background-color: #f2f2f2;
  font-family: serif;
}

body a,
body .link-like {
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
}

body a:hover,
body .link-like:hover {
  color: #0000ee;
}

body a:visited {
  color: #0000ee;
}

body #age-verification { background-color: #aaa; }
body #age-verification-modal { background-color: #f2f2f2; }

body .story-card-grid .story-card,
body .story-card-grid .story-card-large,
body #story-actions-list .follow,
body #story-actions-list .suggestions,
body #story-actions-list .snaps,
body #story-actions-list .share,
body #share-actions-list .share,
body nav.chapter-navigation > nav {
  border-color: grey;
  background-color: #fff;
}

body #story-actions-list .snaps .log-in-info {
  border-color: grey;
  background-color: #fff;
}

body section.confirmation_box  {
  border-color: #0F0;
  background-color: #7F7;
}

body section.author-note { background-color: #ddd; }

body section.chapter-prose blockquote { border-color: #666; }

body .story-card-grid .story-card.story-card-hidden-story,
body .story-card-grid .story-card-large.story-card-hidden-story {
  border-color: red;
}

body .story-card-grid .story-card.story-card-warning-story,
body .story-card-grid .story-card-large.story-card-warning-story {
  border-color: orange;
}

body .story-card-title a { color: #111; }
body .story-card-title a:hover { color: #555; }
body .story-card-title a:visited { color: #666; }

body p.main-page-presentation a { color: #333; }
body p.main-page-presentation a:hover { color: #555; }

body a.tag-link,
body .tag-link-like {
  border-color: #CCC;
  background-color: #eee;
  color: #0000ee;
}

body a.tag-link:hover,
body .tag-link-like:hover {
  background-color: #fff;
}

body a.tag-link:visited { color: #0000ee; }

body .story-card-grid a.tag-link:hover { background-color: #fff; }

body a.tag-link.tag-link-excluded { background-color: #f77; }
body a.tag-link.tag-link-excluded:hover { background-color: #faa; }
body .story-card-grid a.tag-link.tag-link-excluded { background-color: #f77; }
body .story-card-grid a.tag-link.tag-link-excluded:hover { background-color: #faa; }

body input[type="submit"]:hover:not(:disabled),
body input[type="button"]:hover:not(:disabled) {
  background-color: #ddd;
}

body .featured_star { color: #C80; }

body select[name="select_color"] {
  background: #fff;
  color: #111;
}

tr.notification:nth-child(even) {
  background-color: #ccc;
}

/* Dark theme */
body.theme-dark {
  color: #ddd;
  background-color: #333333;
}

body.theme-dark a,
body.theme-dark .link-like {
  color: #aaf;
}

body.theme-dark a:hover,
body.theme-dark .link-like:hover {
  color: #ccf;
}

body.theme-dark a:visited {
  color: #ccc;
}

body.theme-dark a:visited:hover,
body.theme-dark .link-like:visited:hover {
  color: #ccf;
}

body.theme-dark section.confirmation_box  {
  border-color: #0B0;
  background-color: #070;
}

body.theme-dark .autocomplete-list {
  border-color: #111;
  background-color: #333333;
}

body.theme-dark .autocomplete-entry:hover {
  background-color: #555555;
}

body.theme-dark .color-picker {
  border-color: #111;
  background-color: #333333;
}

body.theme-dark .autocomplete-tag-story-count,
body.theme-dark .autocomplete-tag-category {
  color: #ccc;
  font-size: 0.8em;
}

body.theme-dark .font-size-disabled {
  cursor: default;
  color: #888 !important;
}

body.theme-dark input,
body.theme-dark textarea,
body.theme-dark select {
  border-color: #111;
  background-color: #aaa;
}

body.theme-dark input:focus,
body.theme-dark textarea:focus,
body.theme-dark select:focus {
  border-color: #111;
  background-color: #ccc;
}

body.theme-dark input[type="submit"]:hover:not(:disabled),
body.theme-dark input[type="button"]:hover:not(:disabled) {
  background-color: #ccc;
}

body.theme-dark article.comment .comment-time,
body.theme-dark article.comment .comment-time:visited {
  color: #888;
}

body.theme-dark #age-verification { background-color: #555; }
body.theme-dark #age-verification-modal { background-color: #333333; }

body.theme-dark .story-card-grid .story-card,
body.theme-dark .story-card-grid .story-card-large,
body.theme-dark #story-actions-list .follow,
body.theme-dark #story-actions-list .suggestions,
body.theme-dark #story-actions-list .snaps,
body.theme-dark #story-actions-list .share,
body.theme-dark #share-actions-list .share,
body.theme-dark nav.chapter-navigation > nav {
  border-color: #555;
  background-color: #444;
}

body.theme-dark #story-actions-list .snaps .log-in-info {
  border-color: #ddd;
  background-color: #333333;
}

body.theme-dark .story-card-grid .story-card.story-card-hidden-story,
body.theme-dark .story-card-grid .story-card-large.story-card-hidden-story {
  border-color: red;

}
body.theme-dark .story-card-grid .story-card.story-card-warning-story,
body.theme-dark .story-card-grid .story-card-large.story-card-warning-story {
  border-color: orange;
}

body.theme-dark .story-card-title a { color: #ddd; }
body.theme-dark .story-card-title a:hover { color: #bbb; }
body.theme-dark .story-card-title a:visited { color: #aaa; }

body.theme-dark section.author-note { background-color: #444; }

body.theme-dark section.chapter-prose blockquote { border-color: #ccc; }

body.theme-dark p.main-page-presentation a { color: #ddd; }
body.theme-dark p.main-page-presentation a:hover { color: #bbb; }

body.theme-dark a.tag-link,
body.theme-dark .tag-link-like {
  border-color: #222;
  background-color: #333;
  color: #aaf;
}

body.theme-dark a.tag-link:hover,
body.theme-dark .tag-link-like:hover {
  color: #ccf;
  background-color: #444;
}

body.theme-dark a.tag-link:visited { color: #aaf; }
body.theme-dark a.tag-link:hover:visited { color: #ccf; }

body.theme-dark .story-card-grid a.tag-link { border-color: #333; background-color: #444; }
body.theme-dark .story-card-grid a.tag-link:hover { background-color: #555; }

body.theme-dark a.tag-link.tag-link-excluded { background-color: #400; }
body.theme-dark a.tag-link.tag-link-excluded:hover { background-color: #733; }
body.theme-dark .story-card-grid a.tag-link.tag-link-excluded { background-color: #400; }
body.theme-dark .story-card-grid a.tag-link.tag-link-excluded:hover { background-color: #733; }

body.theme-dark .featured_star { color: #FF0; }

body.theme-dark select[name="select_color"] {
  background-color: #444;
  color: #ddd;
}

body.theme-dark tr.notification:nth-child(even) {
  background-color: #4a4a4a;
}
