<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{{ persistent.site.name }}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="{% if persistent.is_dark() %}dark light{% else %}light dark{% endif %}">
  <meta name="theme-color" content="{% if persistent.is_dark() %}#333333{% else %}white{% endif %}">
  <link rel="stylesheet" href="/theme/base.css">
  <meta property="og:image" content="/theme/card-image.png">
  <meta name="twitter:image" content="/theme/card-image.png">
  {% block head %}{% endblock %}
  <meta name="nonfiction" content="false">
  {% if persistent.site.is_adult %}
  <meta name="RATING" content="RTA-5042-1996-1400-1577-RTA">
  <script src="/js/age_verification.js"></script>
  {% endif %}
  <script src="/js/autocompletion.js"></script>
</head>
<body {{ persistent.get_classes()|safe }}>
  {% if persistent.site.is_adult %}
  <div id="age-verification" style="display: none;">
    <div id="age-verification-modal">
      <h1>Age verification required</h1>
      <button id="age-verification-button" onclick="age_verified()">I am 18 years old or older.</button>
      <br />
      <label>
        <input type="checkbox" id="age-verification-permanent" />
        Remember me
      </label>
      <input type="hidden" id="age-verification-secure-cookie" value="{{ persistent.site.secure_cookies }}" />
    </div>
  </div>
  {% endif %}
  <div id="navbar">
    <div id="navbar-top">
      <div class="nav-left nav-main-item">
        <a href="/{{ persistent.as_leading_qmark() }}">
          <img src="/theme/icon-dark-mode.png" height="50px" title="{{ persistent.site.name }}">
        </a>
      </div>
      {% match persistent.login %}
        {% when Some with (user_data) %}
          <div class="nav-right nav-can-collapse nav-right-rightmost">
            <form class="link-style-form nav-link" action="/logout/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like">Logout</button>
            </form>
          </div>
          {% if user_data.admin_notifications > 0 %}
          <div class="nav-right nav-can-collapse nav-notifications">
            {% if user_data.admin_notifications > 9 %}
              <a class="nav-link" href="/admin/{{ persistent.as_leading_qmark() }}">Moderation<div class="nav-notification-badge" title="Click to see new notifications">9+</div></a>
            {% else %}
              <a class="nav-link" href="/admin/{{ persistent.as_leading_qmark() }}">Moderation<div class="nav-notification-badge" title="Click to see new notifications">{{ user_data.admin_notifications }}</div></a>
            {% endif %}
          </div>
          {% endif %}
          <div class="nav-right nav-can-collapse nav-notifications">
            {% if user_data.unread_notifications_count > 9 %}
              <a class="nav-link" href="/notifications/{{ persistent.as_leading_qmark() }}">Notifications<div class="nav-notification-badge" title="Click to see new notifications">9+</div></a>
            {% elseif user_data.unread_notifications_count > 0 %}
              <a class="nav-link" href="/notifications/{{ persistent.as_leading_qmark() }}">Notifications<div class="nav-notification-badge" title="Click to see new notifications">{{ user_data.unread_notifications_count }}</div></a>
            {% elseif user_data.has_unread_events %}
              <a class="nav-link" href="/notifications/{{ persistent.as_leading_qmark() }}#events">Notifications<div class="nav-notification-event-badge" title="Click to see new events">&nbsp;</div></a>
            {% else %}
              <a class="nav-link" href="/notifications/{{ persistent.as_leading_qmark() }}">Notifications</a>
            {% endif %}
          </div>
          <div class="nav-right nav-can-collapse nav-username">
            <a class="nav-link" href="/@{{ user_data.username }}/{{ persistent.as_leading_qmark() }}">My Profile</a>
          </div>
        {% when None %}
          <div class="nav-right nav-can-collapse nav-right-rightmost"><a class="nav-link" href="/login/{{ persistent.as_leading_qmark() }}">Register / Log In</a></div>
      {% endmatch %}
      <details id="typeset-menu-controller" class="nav-right nav-can-collapse nav-icon nav-typeset">
        <summary>
          Settings
        </summary>
        <div id="typeset-submenu">
          <div class="light-dark-toggle">
            {% if persistent.is_dark() %}
              <a href="{{ persistent.as_light_qmark() }}" title="Light mode">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun">
                  <title>Light mode</title>
                  <circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                </svg>
              </a>
            {% else %}
              <a href="{{ persistent.as_dark_qmark() }}" title="Dark mode">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon">
                  <title>Dark mode</title>
                  <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
              </a>
            {% endif %}
          </div>
          <div class="font-style-toggle">
            {% if persistent.is_sans_serif() %}
              <a href="{{ persistent.as_serif_qmark() }}" class="font-serif">
                Serif
              </a>
            {% else %}
              <a href="{{ persistent.as_sans_serif_qmark() }}" class="font-sans-serif">
                Sans Serif
              </a>
            {% endif %}
          </div>
          <div class="font-size-toggle">
              <a href="{{ persistent.as_smaller_font() }}" class="nav-link {% if !persistent.allow_smaller() %}font-size-disabled{% endif %}" title="Smaller font size">
                A-
              </a>
              <a href="{{ persistent.as_bigger_font() }}" class="nav-link {% if !persistent.allow_bigger() %}font-size-disabled{% endif %}" title="Larger font size">
                A+
              </a>
          </div>
          <div class="text-align-toggle">
            <a href="{{ persistent.as_left_aligned_qmark() }}" title="Left-align text" class="nav-link {% if persistent.is_left_aligned() %}alignment-selected{% endif %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-left">
                <title>Left-align text</title>
                <line x1="17" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="17" y1="18" x2="3" y2="18"></line>
              </svg>
            </a>
            <a href="{{ persistent.as_justify_qmark() }}" title="Justify text" class="nav-link {% if persistent.is_justify() %}alignment-selected{% endif %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                <title>Justify text</title>
                <line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line>
              </svg>
            </a>
          </div>
          <div class="content-width-toggle">
            <a href="{{ persistent.as_wide_content_qmark() }}" title="Wide content" class="nav-link {% if persistent.is_content_wide() %}size-selected{% endif %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <title>Wide content</title>
                <path d="M3,12L1,12L3,15M1,12L3,9"></path>
                <line x1="17" y1="6" x2="7" y2="6"></line>
                <line x1="17" y1="10" x2="7" y2="10"></line>
                <line x1="17" y1="14" x2="7" y2="14"></line>
                <line x1="17" y1="18" x2="7" y2="18"></line>
                <path d="M20,12L23,12L20,15M23,12L20,9"></path>
              </svg>
            </a>
            <a href="{{ persistent.as_narrow_content_qmark() }}" title="Narrow content" class="nav-link {% if persistent.is_content_narrow() %}size-selected{% endif %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <title>Narrow content</title>
                <path d="M1,12L5,12L3,15M5,12L3,9"></path>
                <line x1="15" y1="6" x2="9" y2="6"></line>
                <line x1="15" y1="10" x2="9" y2="10"></line>
                <line x1="15" y1="14" x2="9" y2="14"></line>
                <line x1="15" y1="18" x2="9" y2="18"></line>
                <path d="M23,12L18,12L20,15M18,12L20,9"></path>
              </svg>
            </a>
          </div>
          <div class="paragraph-layout-toggle">
            <a href="{{ persistent.as_classic_paragraph_layout_qmark() }}" title="Classic paragraph layout" class="nav-link {% if persistent.is_paragraph_layout_classic() %}layout-selected{% endif %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <title>Classic paragraph layout</title>
                <line x1="23" y1="2" x2="5" y2="2"></line>
                <line x1="23" y1="5" x2="2" y2="5"></line>
                <line x1="23" y1="8" x2="2" y2="8"></line>
                <line x1="18" y1="11" x2="2" y2="11"></line>
                <line x1="23" y1="14" x2="5" y2="14"></line>
                <line x1="23" y1="17" x2="2" y2="17"></line>
                <line x1="15" y1="20" x2="2" y2="20"></line>
              </svg>
            </a>
            <a href="{{ persistent.as_modern_paragraph_layout_qmark() }}" title="Modern paragraph layout" class="nav-link {% if persistent.is_paragraph_layout_modern() %}layout-selected{% endif %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <title>Modern paragraph layout</title>
                <line x1="23" y1="2" x2="2" y2="2"></line>
                <line x1="23" y1="5" x2="2" y2="5"></line>
                <line x1="20" y1="8" x2="2" y2="8"></line>
                <line x1="23" y1="14" x2="2" y2="14"></line>
                <line x1="23" y1="17" x2="2" y2="17"></line>
                <line x1="18" y1="20" x2="2" y2="20"></line>
              </svg>
            </a>
          </div>
          {% match persistent.login %}
            {% when Some with (user_data) %}
              <div class="other-settings">
                <a href="/settings/{{ persistent.as_leading_qmark() }}" class="nav-link">
                  Account settings
                </a>
              </div>
            {% when None %}
          {% endmatch %}
        </div>
      </details>
      <script type="application/javascript">
        "use strict";
        window.addEventListener("scroll", function() {
          var controller = document.getElementById("typeset-menu-controller");
          if (!controller.open) {
            return;
          }
          controller.open = false;
        });
        window.addEventListener("keydown", function(event) {
          if (event.key != "Escape") {
            return;
          }
          var controller = document.getElementById("typeset-menu-controller");
          if (!controller.open) {
            return;
          }
          controller.open = false;
        });
        window.addEventListener("click", function(event) {
          var controller = document.getElementById("typeset-menu-controller");
          if (!controller.open) {
            return;
          }
          var isClickingInside = controller.contains(event.target);
          if (!isClickingInside) {
            controller.open = false;
          }
        });
      </script>
      <label id="nav-right-menu-button" class="nav-right" for="sidepanel-opener">
        <svg width=30 height=30 viewBox="0 0 50 50" style="padding: 10px">
          <rect x=0 y=0 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
          <rect x=0 y=20 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
          <rect x=0 y=40 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
        </svg>
        {% match persistent.login %}
          {% when Some with (user_data) %}
            {% if user_data.admin_notifications + user_data.unread_notifications_count > 9 %}
              <div class="nav-notification-badge" title="Click to see new notifications">9+</div>
            {% elseif user_data.admin_notifications + user_data.unread_notifications_count > 0 %}
              <div class="nav-notification-badge" title="Click to see new notifications">{{ user_data.unread_notifications_count }}</div>
            {% elseif user_data.has_unread_events %}
              <div class="nav-notification-event-badge" title="Click to see new events">&nbsp;</div>
            {% endif %}
          {% when None %}
        {% endmatch %}
      </label>
    </div>
    <div id="navbar-bottom">
      <div class="nav-left nav-can-collapse"><a class="nav-link" href="/stories/{{ persistent.as_leading_qmark() }}">Stories</a></div>
      <div class="nav-left nav-can-collapse"><a class="nav-link" href="/authors/{{ persistent.as_leading_qmark() }}">Authors</a></div>
      <div class="nav-left nav-can-collapse"><a class="nav-link" href="/tags/{{ persistent.as_leading_qmark() }}">Tags</a></div>
      <div class="nav-right nav-can-collapse nav-right-rightmost">
        <a class="nav-link nav-search-icon" title="Search" href="/search/{{ persistent.as_leading_qmark() }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ddd" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <title>Search</title>
            <circle cx="11" cy="11" r="8" />
            <line x1="21" y1="21" x2="16.65" y2="16.65" />
          </svg>
        </a>
      </div>
      <div class="nav-right nav-can-collapse"><a class="nav-link" href="/about/{{ persistent.as_leading_qmark() }}">About</a></div>
      {% match persistent.login %}
        {% when Some with (user_data) %}
          {% if user_data.marked_for_later > 0 %}
          <div class="nav-right nav-can-collapse"><a class="nav-link" href="/marked_for_later/{{ persistent.as_leading_qmark() }}">To Read Later ({{ user_data.marked_for_later }})</a></div>
          {% else %}
          <div class="nav-right nav-can-collapse"><a class="nav-link" href="/marked_for_later/{{ persistent.as_leading_qmark() }}">To Read Later</a></div>
          {% endif %}
          <div class="nav-right nav-can-collapse"><a class="nav-link" href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user_data.username }}/{{ persistent.as_leading_qmark() }}">Your Suggestions</a></div>
          <div class="nav-right nav-can-collapse"><a class="nav-link" href="/submit/{{ persistent.as_leading_qmark() }}">Submit</a></div>
        {% when None %}
      {% endmatch %}
    </div>
  </div>

  <div id="main-content">
    {% block body %}
    {% endblock %}
  </div>
    
  <div id="sidepanel">
    <input id="sidepanel-opener" type="checkbox" style="display: none;" />
    <div id="sidepanel-contents">
      <label id="sidepanel-menu-button" for="sidepanel-opener">
        <svg width=30 height=30 viewBox="0 0 50 50" style="padding: 10px">
          <rect x=0 y=0 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
          <rect x=0 y=20 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
          <rect x=0 y=40 width=50 height=10 rx=5 fill="#ddd" stroke="none"></rect>
        </svg>
      </label>
      <div class="sidepanel-main-title"><a href="/{{ persistent.as_leading_qmark() }}">{{ persistent.site.name }}</a></div>
      <hr />
      {% match persistent.login %}
        {% when Some with (user_data) %}
          <div><a href="/@{{ user_data.username }}/{{ persistent.as_leading_qmark() }}">My Profile</a></div>
          {% if user_data.admin_notifications > 0 %}
          <div class="nav-notifications">
            {% if user_data.admin_notifications > 9 %}
              <a class="nav-link" href="/admin/{{ persistent.as_leading_qmark() }}">Moderation<div class="nav-notification-badge" title="Click to see new notifications">9+</div></a>
            {% else %}
              <a class="nav-link" href="/admin/{{ persistent.as_leading_qmark() }}">Moderation<div class="nav-notification-badge" title="Click to see new notifications">{{ user_data.admin_notifications }}</div></a>
            {% endif %}
          </div>
          {% endif %}
          <div class="nav-notifications">
            {% if user_data.unread_notifications_count > 9 %}
              <a class="nav-link" href="/notifications/{{ persistent.as_leading_qmark() }}">Notifications<div class="nav-notification-badge" title="Click to see new notifications">9+</div></a>
            {% elseif user_data.unread_notifications_count > 0 %}
              <a class="nav-link" href="/notifications/{{ persistent.as_leading_qmark() }}">Notifications<div class="nav-notification-badge" title="Click to see new notifications">{{ user_data.unread_notifications_count }}</div></a>
            {% elseif user_data.has_unread_events %}
              <a class="nav-link" href="/notifications/{{ persistent.as_leading_qmark() }}#events">Notifications<div class="nav-notification-event-badge" title="Click to see new events">&nbsp;</div></a>
            {% else %}
              <a class="nav-link" href="/notifications/{{ persistent.as_leading_qmark() }}">Notifications</a>
            {% endif %}
          </div>
          <div><a href="/settings/{{ persistent.as_leading_qmark() }}">Account Settings</a></div>
          <div>
            <form class="link-style-form" action="/logout/{{ persistent.as_leading_qmark() }}" method="POST">
              <button class="link-like">Logout</button>
            </form>
          </div>
        {% when None %}
          <div><a href="/login/{{ persistent.as_leading_qmark() }}">Register / Log In</a></div>
      {% endmatch %}
      <hr />
      <div><a href="/whatsnew/{{ persistent.as_leading_qmark() }}">Stories</a></div>
      <div><a href="/authors/{{ persistent.as_leading_qmark() }}">Authors</a></div>
      <div><a href="/tags/{{ persistent.as_leading_qmark() }}">Tags</a></div>
      <hr />
      {% match persistent.login %}
        {% when Some with (user_data) %}
          <div><a href="/submit/{{ persistent.as_leading_qmark() }}">Submit</a></div>
          <div><a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user_data.username }}/{{ persistent.as_leading_qmark() }}">Your Suggestions</a></div>
          {% if user_data.marked_for_later > 0 %}
          <div><a href="/marked_for_later/{{ persistent.as_leading_qmark() }}">To Read Later ({{ user_data.marked_for_later }})</a></div>
          {% else %}
          <div><a href="/marked_for_later/{{ persistent.as_leading_qmark() }}">To Read Later</a></div>
          {% endif %}
        {% when None %}
      {% endmatch %}
      <div><a href="/about/{{ persistent.as_leading_qmark() }}">About</a></div>
      <div><a href="/search/{{ persistent.as_leading_qmark() }}">Search</a></div>
      <hr />
      <div class="typeset">
        <div class="light-dark-toggle">
          {% if persistent.is_dark() %}
            <a href="{{ persistent.as_light_qmark() }}" title="Light mode">
              <svg xmlns="http://www.w3.org/2000/svg" alt="Light mode" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
            </a>
          {% else %}
            <a href="{{ persistent.as_dark_qmark() }}" title="Dark mode">
              <svg xmlns="http://www.w3.org/2000/svg" alt="Dark mode" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
            </a>
          {% endif %}
        </div>
        <div class="font-style-toggle">
          {% if persistent.is_sans_serif() %}
            <a href="{{ persistent.as_serif_qmark() }}" class="font-serif">
              Serif
            </a>
          {% else %}
            <a href="{{ persistent.as_sans_serif_qmark() }}" class="font-sans-serif">
              Sans Serif
            </a>
          {% endif %}
        </div>
        <div class="font-size-toggle">
            <a href="{{ persistent.as_smaller_font() }}" class="nav-link {% if !persistent.allow_smaller() %}font-size-disabled{% endif %}" title="Smaller font size">
              A-
            </a>
            <a href="{{ persistent.as_bigger_font() }}" class="nav-link {% if !persistent.allow_bigger() %}font-size-disabled{% endif %}" title="Larger font size">
              A+
            </a>
        </div>
        <div class="text-align-toggle">
          <a href="{{ persistent.as_left_aligned_qmark() }}" class="{% if persistent.is_left_aligned() %}alignment-selected{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" alt="Left-align text" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-left"><line x1="17" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="17" y1="18" x2="3" y2="18"></line></svg>
          </a>
          <a href="{{ persistent.as_justify_qmark() }}" class="{% if persistent.is_justify() %}alignment-selected{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" alt="Justify text" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
          </a>
        </div>
        <!-- Note : no need to change the content width as it doesn't apply when showing the sidebar anyways -->
        <div class="paragraph-layout-toggle">
          <a href="{{ persistent.as_classic_paragraph_layout_qmark() }}" title="Classic paragraph layout" class="nav-link {% if persistent.is_paragraph_layout_classic() %}layout-selected{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <title>Classic paragraph layout</title>
              <line x1="23" y1="2" x2="5" y2="2"></line>
              <line x1="23" y1="5" x2="2" y2="5"></line>
              <line x1="23" y1="8" x2="2" y2="8"></line>
              <line x1="18" y1="11" x2="2" y2="11"></line>
              <line x1="23" y1="14" x2="5" y2="14"></line>
              <line x1="23" y1="17" x2="2" y2="17"></line>
              <line x1="15" y1="20" x2="2" y2="20"></line>
            </svg>
          </a>
          <a href="{{ persistent.as_modern_paragraph_layout_qmark() }}" title="Modern paragraph layout" class="nav-link {% if persistent.is_paragraph_layout_modern() %}layout-selected{% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <title>Modern paragraph layout</title>
              <line x1="23" y1="2" x2="2" y2="2"></line>
              <line x1="23" y1="5" x2="2" y2="5"></line>
              <line x1="20" y1="8" x2="2" y2="8"></line>
              <line x1="23" y1="14" x2="2" y2="14"></line>
              <line x1="23" y1="17" x2="2" y2="17"></line>
              <line x1="18" y1="20" x2="2" y2="20"></line>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <label id="sidepanel-contents-close" for="sidepanel-opener">
    </label>
  </div>
</body>
</html>
