{% extends "common/base.html" %}

{%- import "common/story_card.html" as story_card -%}

{% block head %}
<link rel="alternate" type="application/rss+xml" href="latest.rss" title="RSS feed of the latest stories">

<meta name="publisher" content="{{ persistent.site.name }}">
<meta name="description" content="{{ persistent.site.description }}">
<meta name="keywords" content="stories{% for tag in persistent.site.tags %},{{ tag }}{% endfor %}">

<link rel="schema.dcterms" href="http://purl.org/dc/terms/">
<meta name="dcterms.subject" content="stories{% for tag in persistent.site.tags %} {{ tag }}{% endfor %}">
<meta name="dcterms.description" content="{{ persistent.site.description }}">
<meta name="dcterms.publisher" content="{{ persistent.site.name }}">
<meta name="dcterms.type" content="Collection">
<meta name="dcterms.format" content="text/html">

<meta property="og:title" content="{{ persistent.site.name }}">
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ persistent.site.name }}">
<meta property="og:description" content="{{ persistent.site.description }}">
<meta property="og:url" content="{{ persistent.site.base_url }}/">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ persistent.site.name }}">
<meta name="twitter:description" content="{{ persistent.site.description }}">
<meta name="twitter:url" content="{{ persistent.site.base_url }}/">
<style>
  #display-modes,
  #view-modes {
    margin-top: 1.5em;
    float: right;
  }
  #display-modes > div,
  #view-modes > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  #view-modes > div > section {
    padding-top: 0.68em;
    padding-bottom: 0.65em;
    font-size: 18px;
  }
  #display-modes > div > section,
  #view-modes > div > section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    border-style: solid;
    border-width: 2px;
  }
  #display-modes > div > section > a,
  #view-modes > div > section > a {
    margin: 0;
    padding: 10px 0;
    line-height: 0;
  }
</style>
{% endblock %}

{% block body %}
<h1 class="main-title">Welcome To {{ persistent.site.name }}!</h1>

<article id="main-search">
  <form action="/search/" method="GET">
    <input id="topbar_quick_search_field" type="text" autocomplete="off" name="q" placeholder="Search for a story..." /><input type="submit" value="search" />
    {{ persistent.as_inputs()|safe }}
  </form>
</article>

<p class="main-page-presentation">
  <a href="/stories/{{ persistent.as_leading_qmark() }}">Stories</a>
  -
  <a href="/authors/{{ persistent.as_leading_qmark() }}">Authors</a>
  -
  <a href="/tags/{{ persistent.as_leading_qmark() }}">Tags</a>
  -
  <a href="/whatsnew/{{ persistent.as_leading_qmark() }}">Last Week's Stories</a>
  -
  <a href="/about/{{ persistent.as_leading_qmark() }}">About</a>
</p>

{% for entry in stories %}
  {% if loop.first %}
  <article id="main-cards" class="story-card-grid">
    <header>
      {% if persistent.login.is_some() %}
      <section id="view-modes">
        <div>
          {% if view_mode != "" %}
          <section>
            <a href="/?display_mode={{ display_mode }}{{ persistent.as_leading_qmark() }}">Normal view</a>
          </section>
          {% endif %}
          {% if view_mode != "author" %}
          <section>
            <a href="/?display_mode={{ display_mode }}&view_mode=author{{ persistent.as_leading_amp() }}">Author view</a>
          </section>
          {% endif %}
          {% if view_mode != "admin" && is_administrator %}
          <section>
            <a href="/?display_mode={{ display_mode }}&view_mode=admin{{ persistent.as_leading_amp() }}">Admin view</a>
          </section>
          {% endif %}
        </div>
      </section>
      {% endif %}
      <section id="display-modes">
        <div>
          {% if display_mode != "card" %}
          <section>
            <a title="Show as cards" href="?display_mode=card{% if view_mode != "" %}view_mode={{ view_mode }}{% endif %}{{ persistent.as_leading_amp() }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <title>Show as cards</title>
                <rect x="2" y="2" width="8" height="8" fill="none" stroke="currentColor"></rect>
                <rect x="2" y="14" width="8" height="8" fill="none" stroke="currentColor"></rect>
                <rect x="14" y="2" width="8" height="8" fill="none" stroke="currentColor"></rect>
                <rect x="14" y="14" width="8" height="8" fill="none" stroke="currentColor"></rect>
              </svg>
            </a>
          </section>
          {% endif %}
          {% if display_mode != "list" %}
          <section>
            <a title="Show as list" href="?display_mode=list{% if view_mode != "" %}view_mode={{ view_mode }}{% endif %}{{ persistent.as_leading_amp() }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <title>Show as list</title>
                <rect x="2" y="2" width="20" height="8" fill="none" stroke="currentColor"></rect>
                <rect x="2" y="14" width="20" height="8" fill="none" stroke="currentColor"></rect>
              </svg>
            </a>
          </section>
          {% endif %}
        </div>
      </section>
      <h2>Latest Stories</h2>
    </header>
  {% endif %}

    {% match entry %}
    {% when StoryCardData::SingleEntry with (story, extra_information) %}
      {% call story_card::latest_story(display_mode, story, extra_information) %}
    {% when StoryCardData::CombinedEntry with (authors, entries) %}
      <section class="{% if display_mode == "card" %}story-card{% else %}story-card-large{% endif %}">
        <div class="aggregated-story-card-authors">
          Other stories from {% for author in authors %}<a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">{{ author.display_name }}</a>{% if !loop.last %}, {% endif %}{% endfor %}
        </div>
        {% for (story, extra_information) in entries %}
          <div class="aggregated-story-card-entry" {% match story.story_color %}{% when Some with (color) %}style="background-color: {{color}}"{% when None %}{% endmatch %}>
            <a href="/{{ story.author_path }}/{{ story.url_fragment }}/{{ persistent.as_leading_qmark() }}">{{ story.title }}</a>
            <div class="aggregated-story-card-entry-extra">
              {% if extra_information.is_new_story %}
                {% if extra_information.chapter_count == 1 %}
                  New story ({{ extra_information.word_count }} words)
                {% else %}
                  New story ({{ extra_information.chapter_count}} chapters, {{ extra_information.word_count }} words)
                {% endif %}
              {% else %}
                {% if extra_information.chapter_count == 1 %}
                  Updated story ({{ extra_information.chapter_count }} chapter, {{ extra_information.word_count }} words)
                {% else %}
                  Updated story ({{ extra_information.chapter_count }} chapters, {{ extra_information.word_count }} words)
                {% endif %}
              {% endif %}
            </div>
            {% match story.story_symbol %}
              {% when Some with (symbol) %}
                <div class="aggregated-story-card-entry-symbol">{{ symbol }}</div>
              {% when None %}
            {% endmatch %}
          </div>
        {% endfor %}
      </section>
    {% endmatch %}

  {% if loop.last %}
  </article>
  {% endif %}
{% endfor %}

<script>
  setup_general_autocompletion("topbar_quick_search_field");
</script>
{% endblock %}
