{% extends "common/base.html" %}

{% block title %}
{{ title }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1 class="main-title">{{ title }} - {{ persistent.site.name }}</h1>

<article>
    {{ self.content|san|safe }}
</article>

{% endblock %}
