{% extends "common/base.html" %}

{% block title %}
Tags - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<article class="centered-section">
  <header>
    <h1 style="text-align: center;">All Tags</h1>
  </header>

  <section id="tags-actions-list">
    <section class="listing">
      List
    </section>
    <section class="popular">
      <a href="/tags/popularity/{{ persistent.as_leading_qmark() }}">Most Popular</a>
    </section>
  </section>

  <table width="100%">
  {% for category in tag_categories %}
    <tr>
      <td colspan="3">
        {% if !loop.first %}
        <hr />
        {% endif %}
        <h2>{{ category.name }}</h2>
        <p>
          {{ category.description }}
        </p>
      </td>
    </tr>
    {% for tag in category.checkable_tags %}
      {% if loop.first %}
    <tr>
      <th style="text-align: left; width: 100px;">Tag</th>
      <th style="text-align: left;">Description</th>
      <th style="text-align: left; width: 50px;">Stories</th>
    </tr>
      {% endif %}
    <tr>
      <td style="width: 100px;">
        <a href="/search/?q=%23{{ tag.name }}{{ persistent.as_leading_amp() }}">#{{ tag.name }}</a>
      </td>
      <td>
        {{ tag.description }}
      </td>
      <td style="width: 50px;">
        {{ tag.tagged_stories }}
      </td>
    </tr>
    {% endfor %}
    {% for tag in category.custom_tags %}
      {% if loop.first %}
    <tr>
      <td colspan="3">
        <details>
          <summary>Custom tags (click to show)</summary>
          <table width="100%">
            <tr>
              <th style="text-align: left;" colspan="2">Tag</th>
              <th style="text-align: left; width: 50px;">Stories</th>
            </tr>
      {% endif %}
            <tr>
              <td style="width: 100px;">
                <a href="/search/?q=%23{{ tag.name }}{{ persistent.as_leading_amp() }}">#{{ tag.name }}</a>
              </td>
              <td>
                {{ tag.description }}
              </td>
              <td style="width: 50px;">
                {{ tag.tagged_stories }}
              </td>
            </tr>
      {% if loop.last %}
          </table>
        </details>
      </td>
    </tr>
      {% endif %}
    {% endfor %}
    {% if loop.last %}
  </table>
    {% endif %}
  {% endfor %}
</article>

{% endblock %}
