BASE_URL="https://{{ canonical_fqdn }}"
SITE_NAME="{{ intertextual_site_name }}"
SITE_DESCRIPTION="{{ intertextual_site_description }}"
SITE_TAGS="{% for tag in intertextual_site_tags %}{{ tag }}{% if not loop.last %},{% endif %}{% endfor %}"
SITE_IS_ADULT={% if intertextual_site_adult %}true{% else %}false{% endif %}

COOKIE_PRIVATE_KEY={{ intertextual_cookie_private_key }}
PASSWORD_SECRET_KEY={{ intertextual_password_secret_key }}

DATABASE_URL=postgres://intertextual@/intertextual
LISTEN=127.0.0.1:8080
LOG4RS_PATH=/opt/intertextual/log4rs.yml
USE_INSECURE_COOKIES=false
THEME_DIR=/opt/intertextual/theme
