server {
    server_name {{ canonical_fqdn }};

    location / {
        # We're throwing away information about other links in the forwarding chain,
        # but that information isn't trustworthy and we have no use for it anyway
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header Forwarded "";
        proxy_pass http://127.0.0.1:8080;
    }

    listen [::]:443 ssl; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ canonical_fqdn }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ canonical_fqdn }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    server_name {{ canonical_fqdn }};

    if ($host = {{ canonical_fqdn }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    return 404; # managed by Certbot

    listen 80;
    listen [::]:80;
}
