#!/bin/bash
set -euo pipefail

echo nightly backup for {{ inventory_hostname }}

{% if backup_files|d([])|length() > 0 %}
echo ----------------
echo backing up regular files:
{{ restic_command }} backup --tag ansible --tag files {% for path in backup_files %}{{ path }} {% endfor %}
{% endif %}

{% if backup_postgres|d(false) %}
echo ----------------
echo backing up postgres database:
sudo -u postgres pg_dumpall --clean --if-exists | {{ restic_command }} backup --tag ansible --tag postgres --stdin --stdin-filename /pgdump.sql
{% endif %}

echo ----------------
echo checking backup integrity:
subset="$(( (($( date +%s ) / 86400) % {{ restic_check_subsets|d(10) }}) + 1 ))/{{ restic_check_subsets|d(10) }}"
{{ restic_command }} check --read-data-subset=$subset || (echo $subset >> /var/local/restic-check-fail)
if [[ -f /var/local/restic-check-fail ]]
then
    printf 'From: {{ mail_sender }}\nTo: {{ admin_email }}\nSubject: *** RESTIC CHECK FAILURE ***\n\nrestic backup integrity checks for host {{ inventory_hostname }} have failed!' | msmtp --read-envelope-from --read-recipients
    exit 1
fi

echo ----------------
echo pruning old snapshots:
{{ restic_command }} forget --prune --group-by tags --tag ansible --keep-last 5 --keep-daily 7 --keep-weekly 4 --keep-monthly 2
