{% extends "common/base.html" %}

{% block title %}
List of authors - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>All authors ({{ page_listing.total_count }})</h1>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="?start={{ page_list_entry.start }}{{ persistent.as_leading_amp() }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

<article id="users">
  {% for author in authors %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        <a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">{{ author.display_name }}</a>
        {% if author.story_count == 1 %}
          (1 story)
        {% else %}
          ({{ author.story_count }} stories)
        {% endif %}
      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}
</article>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="?start={{ page_list_entry.start }}{{ persistent.as_leading_amp() }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

{% endblock %}
