{% extends "common/base.html" %}

{% block title %}
Follows by {{ user.display_name }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>Follows by {{ user.display_name }}</h1>

<p><a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">Back to the profile page</a></p>

<table style="width: 100%">
  <tbody>
    {% for follow in follows %}
    <tr>
      <td><a href="{{ follow.url }}{{ persistent.as_leading_qmark() }}">{{ follow.text }}</a></td>
      <td>{% for author in follow.authors %}{% if !loop.first %}, {% endif %}<a href="/@{{ author.username }}/{{ persistent.as_leading_qmark() }}">{{ author.display_name }}</a>{% endfor %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
