{% extends "common/base.html" %}

{%- import "common/story_card.html" as story_card -%}

{% block head %}
<meta name="author" content="{{ user.display_name }}">
<meta name="creator" content="{{ user.display_name }}">
<meta name="publisher" content="{{ persistent.site.name }}">
<meta name="description" content="{{ trimmed_details }}">
<meta name="keywords" content="author,stories,listing{% for tag in persistent.site.tags %},{{ tag }}{% endfor %}">

<link rel="schema.dcterms" href="http://purl.org/dc/terms/">
<meta name="dcterms.creator" content="{{ user.display_name }}">
<meta name="dcterms.subject" content="author stories listing{% for tag in persistent.site.tags %} {{ tag }}{% endfor %}">
<meta name="dcterms.description" content="{{ trimmed_details }}">
<meta name="dcterms.publisher" content="{{ persistent.site.name }}">
<meta name="dcterms.type" content="Collection">
<meta name="dcterms.format" content="text/html">

<meta property="og:title" content="List of stories by {{ user.display_name }}">
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ persistent.site.name }}">
<meta property="og:description" content="{{ trimmed_details }}">
<meta property="og:url" content="{{ persistent.site.base_url }}/@{{ user.username }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="List of stories by {{ user.display_name }}">
<meta name="twitter:description" content="{{ trimmed_details }}">
<meta name="twitter:url" content="{{ persistent.site.base_url }}/@{{ user.username }}">
<style>
  #sorting_modes {
    margin-top: 1.5em;
  }
</style>
{% endblock %}

{% block title %}
{{ user.display_name }} - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>{{ user.display_name }} (@{{ user.username }})</h1>

{% if is_self || is_administrator %}

  {% if user.deactivated_by_user %}
    <article>
      <fieldset style="background-color: rgba(255, 0, 0, 0.5);">
        <legend>
          <h3>Account Deactivated</h3>
        </legend>
        <p>
          This user account has been deactivated
        </p>
      </fieldset>
    </article>
  {% endif %}

  {% match user.banned_until %}
    {% when Some with (time_end) %}
      <article>
        <fieldset style="background-color: rgba(255, 0, 0, 0.5);">
          <legend>
            <h3>Banned</h3>
          </legend>
          <p>
            This user has been banned until {{ time_end.format("%Y-%m-%d") }}
          </p>
        </fieldset>
      </article>
    {% when None %}
  {% endmatch %}

  {% match user.muted_until %}
    {% when Some with (time_end) %}
      <article>
        <fieldset style="background-color: rgba(255, 127, 0, 0.5);">
          <legend>
            <h3>Muted</h3>
          </legend>
          <p>
            This user has been muted until {{ time_end.format("%Y-%m-%d") }}
          </p>
        </fieldset>
      </article>
    {% when None %}
  {% endmatch %}

  {% match user.warned_until %}
    {% when Some with (time_end) %}
      <article>
        <fieldset style="background-color: rgba(255, 127, 0, 0.5);">
          <legend>
            <h3>Warning</h3>
          </legend>
          <p>
            This user has been warned until {{ time_end.format("%Y-%m-%d") }}
          </p>
        </fieldset>
      </article>
    {% when None %}
  {% endmatch %}

{% endif %}

{% if is_self %}
<article>
  <fieldset>
    <legend><h2>My Account</h2></legend>
    <a href="/settings/{{ persistent.as_leading_qmark() }}">Edit your settings</a><br />
    <a href="/statistics/{{ persistent.as_leading_qmark() }}">See your statistics</a><br />
    <a href="/{{ intertextual::constants::USER_APPROVAL_URL }}/{{ persistent.as_leading_qmark() }}">See your snaps</a><br />
    <a href="/follows/{{ persistent.as_leading_qmark() }}">See your followed stories and authors</a><br />
    <a href="/marked_for_later/{{ persistent.as_leading_qmark() }}">See your "To Read Later" list</a><br />
    <a href="/moderation_contact/{{ persistent.as_leading_qmark() }}">Contact the moderation team</a>
  </fieldset>
</article>
{% endif %}

{% if is_administrator %}
<article class="settings">
  <fieldset>
    <legend><h2>Moderation</h2></legend>
    {% if is_self %}
    You are an administrator. <a href="/admin/{{ persistent.as_leading_qmark() }}">Click here to go to the administration panel</a>
    {% endif %}
    {% if !is_self %}
    <a href="/admin/users/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">Edit this user's settings</a><br />
    <a href="/admin/modmail/user/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">See the modmails and/or send a new modmail to this user</a>
    {% endif %}
  </fieldset>
</article>
{% endif %}

{% if show_delete_chapter_confirm_box %}
<section class="confirmation_box">
  <p>
    Chapter or story was deleted successfully !
  </p>
</section>
{% endif %}

{% if show_password_reset_confirmation %}
<section class="confirmation_box">
  <p>
    Password was changed successfully !
  </p>
</section>
{% endif %}

{% match user.email %}
  {% when Some with (email) %}
    <article>
      <p>Contact e-mail: <a href="mailto:{{ email }}">{{ email }}</a></p>
    </article>
  {% when None %}
{% endmatch %}

{% match user.details %}
  {% when Some with (details) %}
    <article>
      {{ details|san|safe }}
    </article>
  {% when None %}
{% endmatch %}

{% if follow_status.show %}
<article id="follow">
  {% if follow_status.user_is_following_author %}
    You are following all stories from this user.
    <form class="link-style-form" action="/follow/@{{ user.username }}/author/unfollow/{{ persistent.as_leading_qmark() }}" method="POST">
      <button class="link-like">(unfollow)</button>
    </form>
  {% else %}
    <form class="link-style-form" action="/follow/@{{ user.username }}/author/{{ persistent.as_leading_qmark() }}" method="POST">
      <button class="link-like">Be notified when this user posts a new story or update an existing story</button>
    </form>
  {% endif %}
</article>
{% endif %}

{% if total_recommendation_count > 0 %}
<article id="suggestions">
  <h3>Suggested stories</h3>
  <span>
    {{ user.display_name }} suggested {{ total_recommendation_count }} stories.
    <a href="/{{ intertextual::constants::RECOMMENDATION_URL }}/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">See all suggestions from {{ user.display_name }}</a>
  </span>
</article>
{% endif %}

<article class="story-card-grid">
  <header>
    {% if !stories.is_empty() %}
    <section id="sorting_modes" class="sorting_modes">
      <div>
        {% if has_featured_stories %}
        <section>
          {% if sorting_mode == "featured" %}
          Featured
          {% else %}
          <a href="?sort_by=featured{{ persistent.as_leading_amp() }}#sorting_modes">Featured</a>
          {% endif %}
        </section>
        {% endif %}
        <section>
          {% if sorting_mode == "title_asc" %}
          <a href="?sort_by=title_desc{{ persistent.as_leading_amp() }}#sorting_modes">A-Z &#8595;</a>
          {% elseif sorting_mode == "title_desc" %}
          <a href="?sort_by=title_asc{{ persistent.as_leading_amp() }}#sorting_modes">A-Z &#8593;</a>
          {% else %}
          <a href="?sort_by=title_asc{{ persistent.as_leading_amp() }}#sorting_modes">A-Z</a>
          {% endif %}
        </section>
        <section>
          {% if sorting_mode == "pub_date_asc" %}
          <a href="?sort_by=pub_date_desc{{ persistent.as_leading_amp() }}#sorting_modes">Date (oldest)</a>
          {% elseif sorting_mode == "pub_date_desc" %}
          <a href="?sort_by=pub_date_asc{{ persistent.as_leading_amp() }}#sorting_modes">Date (newest)</a>
          {% else %}
          <a href="?sort_by=pub_date_asc{{ persistent.as_leading_amp() }}#sorting_modes">Date</a>
          {% endif %}
        </section>
      </div>
    </section>
    {% endif %}
    <h2>Stories</h2>
  </header>

  {% if stories.is_empty() && excluded_stories.is_empty() %}
  <section class="story-card-large">
    This user does not have any published stories.
  </section>
  {% endif %}

  {% for entry in stories %}
    {% if sorting_mode == "featured" %}
      {% if loop.first && entry.is_story_featured %}
        <section class="story-card-large">Featured Stories</section>
      {% elseif !loop.first && !loop.last && loop.index == featured_stories_limit_index + 1 %}
        <section class="story-card-large">Other Stories</section>
      {% endif %}
    {% endif %}
    {% call story_card::author_page("list".to_string(), entry) %}
  {% endfor %}
</article>


{% if !excluded_stories.is_empty() %}
<details>
  <summary>
    {% if excluded_stories.len() == 1 %}
      1 story was excluded due to your <a href="/settings/{{ persistent.as_leading_qmark() }}#exclusion_list">exclusion settings</a>. Click to show the excluded story.
    {% else %}
      {{ excluded_stories.len() }} stories were excluded due to your <a href="/settings/{{ persistent.as_leading_qmark() }}#exclusion_list">exclusion settings</a>. Click to show excluded stories.
    {% endif %}
  </summary>
  <article class="story-card-grid">
    {% for entry in excluded_stories %}
      {% call story_card::author_page("list".to_string(), entry) %}
    {% endfor %}
  </article>
</details>

{% endif %}

{% endblock %}
