{% extends "common/base.html" %}

{% block head %}
<style>
  #remember_me:not(:checked) ~ * ~ #remember_me_device_name {
    display: none;
  }
</style>
{% endblock %}

{% block title %}
Login - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<article class="main-login">
  <header>
    <h1>Login</h1>
  </header>
  
  <form action="/login/{{ persistent.as_leading_qmark() }}" method="post">
    <label>
      <p>
        Username: <br />
        <input type="text" name="username" />
      </p>
    </label>
    <label>
      <p>
        Password: <br />
        <input type="password" name="password" />
      </p>
    </label>
    <input type="checkbox" id="remember_me" name="remember_me" /><label for="remember_me">Remember me on this device</label>
    <label id="remember_me_device_name">
      <p>
        Name of the device to remember :
        <input type="text" name="device_name" value="{{ default_device_name }}" />
      </p>
    </label>
    <p>
      <input type="submit" value="Login">
    </p>
  </form>

  <p>
    Don't have an account ? <a href="/register/{{ persistent.as_leading_qmark() }}">Click here to register.</a>
  </p>
</article>
{% endblock %}
