{% extends "common/base.html" %}

{% block title %}
Notifications - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>Unread Notifications</h1>

<article>
  <ul>
    <li><a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">Back to your profile</a></li>
    <li><a href="/notifications/all/{{ persistent.as_leading_qmark() }}">See all - {{ all_notification_count }} total notification(s)</a></li>
  </ul>
</article>

<p>
  <form class="link-style-form" action="/notifications/mark_all_read/{{ persistent.as_leading_qmark() }}" method="POST">
    <button class="link-like">Mark all notifications and events as read</button>
  </form>
</p>

<article id="notifications">
  <header>
    <h2>{{ notifications.len() }} notification(s)</h2>
  </header>

  {% if notifications.is_empty() %}
    <p><em>No unread notifications</em></p>
  {% endif %}

  <table class="notifications">
  {% for notification in notifications %}
    <tr class="notification">
      <td class="notification_time" data-timestamp="{{ notification.time.timestamp() }}">{{ notification.time.format("%Y-%m-%d %H:%M (UTC+00)") }}</td>
      <td class="notification_content">
        <a href="/notifications/access/{{ notification.id }}/{{ persistent.as_leading_qmark() }}">
          {{ notification.message }}
        </a>
      </td>
      <td class="notification_toggle">
        <form class="link-style-form" action="/notifications/mark_read/{{ notification.id }}/?nt=notif&mode=unread{{ persistent.as_leading_amp() }}" method="POST">
          <button class="link-like">(mark as read)</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </table>

  {% if remaining_notifications_count > 0 %}
    <p>Up to {{ remaining_notifications_count }} notifications are not shown. Dismiss your existing notifications and events to display them.</p>
  {% endif %}
</article>

<article id="events">
  <header>
    <h2>{{ events.len() }} event(s)</h2>
  </header>
  
  {% if events.is_empty() %}
    <p><em>No unread events</em></p>
  {% endif %}

  {% for event in events %}
    <section>
      <span class="notification_time" data-timestamp="{{ event.time.timestamp() }}">{{ event.time.format("%Y-%m-%d at %H:%M (UTC+00)") }}</span>
      <a href="/notifications/access/{{ event.id }}/{{ persistent.as_leading_qmark() }}">
        {{ event.message }}
      </a>
      <form class="link-style-form" action="/notifications/mark_read/{{ event.id }}/?nt=event&mode=unread{{ persistent.as_leading_qmark() }}" method="POST">
        <button class="link-like">(mark as read)</button>
      </form>
    </section>
  {% endfor %}

  {% if remaining_notifications_count > 0 %}
    <p>Up to {{ remaining_notifications_count }} events are not shown. Dismiss your existing notifications and events to display them.</p>
  {% endif %}
</article>

<script>
  "use strict";
  var entries = document.querySelectorAll(".notification_time");
  for (var index = 0; index < entries.length; index++) {
    var entry = entries.item(index);
    var timestamp = entry.getAttribute("data-timestamp");
    var date = new Date((+timestamp) * 1000);
    entry.textContent = date.toLocaleString(undefined, { dateStyle: "short", timeStyle: "short" });
  }
</script>
{% endblock %}
