{% extends "common/base.html" %}

{% block title %}
All Notifications - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>All Notifications</h1>

<article>
  <ul>
    <li><a href="/@{{ user.username }}/{{ persistent.as_leading_qmark() }}">Back to your profile</a></li>
    {% if unread_notification_count > 0 %}
      <li><a href="/notifications/{{ persistent.as_leading_qmark() }}">See unread - {{ unread_notification_count }} unread notification(s)</a></li>
    {% endif %}
  </ul>
</article>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/notifications/all/?start={{ page_list_entry.start }}{{ persistent.as_leading_amp() }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

<article id="notifications">
  <header>
    <h2>{{ notifications.len() }} notification(s)</h2>
  </header>
  <table class="notifications">
  {% for notification in notifications %}
    <tr class="notification">
      <td class="notification_time" data-timestamp="{{ notification.time.timestamp() }}">{{ notification.time.format("%Y-%m-%d %H:%M (UTC+00)") }}</td>
      <td class="notification_content">
        <a href="/notifications/access/{{ notification.id }}/{{ persistent.as_leading_qmark() }}">
          {{ notification.message }}
        </a>
      </td>
      <td class="notification_toggle">
      {% if !notification.read %}
        <form class="link-style-form" action="/notifications/mark_read/{{ notification.id }}/?nt=notif{{ persistent.as_leading_amp() }}" method="POST">
          <button class="link-like">(mark as read)</button>
        </form>
      {% else %}
        <form class="link-style-form" action="/notifications/mark_unread/{{ notification.id }}/?nt=notif{{ persistent.as_leading_amp() }}" method="POST">
          <button class="link-like">(mark as unread)</button>
        </form>
      {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
</article>

{% if page_listing.should_display() %}
<nav class="page-navigation">
  {% for page_list_entry in page_listing.page_list %}
    {% if page_list_entry.page == page_listing.current_page %}
      <span>{{ page_list_entry.page }}</span>
    {% elseif page_list_entry.is_ellipses %}
      <span>...</span>
    {% else %}
      <a href="/notifications/all/?start={{ page_list_entry.start }}{{ persistent.as_leading_amp() }}">{{ page_list_entry.page }}</a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}

<script>
  "use strict";
  var entries = document.querySelectorAll(".notification_time");
  for (var index = 0; index < entries.length; index++) {
    var entry = entries.item(index);
    var timestamp = entry.getAttribute("data-timestamp");
    var date = new Date((+timestamp) * 1000);
    entry.textContent = date.toLocaleString(undefined, { dateStyle: "short", timeStyle: "short" });
  }
</script>
{% endblock %}
