{% extends "common/base.html" %}

{% block head %}
<style>
  #default_publication_future_date:not(:checked) ~ label ~ #future_date_extra_informations {
    display: none;
  }
  #default_publication_future_date:checked ~ label ~ #future_date_extra_informations {
    display: block;
  }
</style>
{% endblock %}

{% block title %}
Password Reset - {{ persistent.site.name }}
{% endblock %}

{% block body %}
<h1>Password Reset</h1>

<p>
  Your password must be changed. Please enter a new password.
</p>

<article class="settings" id="password">
  <form action="/settings/@{{ user.username }}/password_reset/{{ persistent.as_leading_qmark() }}" method="POST">
    <p>
      <label>
        New password:<br />
        <input type="password" autocomplete="new-password" name="password" />
      </label>
    </p>
    <p>
      <label>
        Confirm Password:<br />
        <input type="password" autocomplete="new-password" name="password_confirm" />
      </label>
    </p>
    <p>
      <input type="submit" value="Update your password" />
    </p>
  </form>
</article>

{% endblock %}
