{% extends "common/base.html" %}

{% block head %}
<script src="/js/required_fields.js"></script>
{% endblock %}

{% block title %}
Create an account - {{ persistent.site.name }}
{% endblock %}

{% block body %}

<article class="main-login">
  <header>
    <h1>Create a new account on {{ persistent.site.name }}</h1>
  </header>

  {% if !allow_register %}
  <fieldset disabled="disabled">
    <legend style="color: red;">Registrations are temporarily disabled</legend>
  {% endif %}

  <form action="/register/{{ persistent.as_leading_qmark() }}" method="post">
    <label>
      <p>
        Username: <br />
        (note : you can enter a different display name after registering your account)<br />
        <input type="text" data-is-required-field-for="main" data-field-name="Username" data-extra-checks="username" name="username" />
      </p>
    </label>
    <label>
      <p>
        Password: <br />
        <input type="password" autocomplete="new-password" name="password" />
      </p>
    </label>
    <label>
      <p>
        Confirm Password: <br />
        <input type="password" autocomplete="new-password" name="password_confirm" />
      </p>
    </label>
    <label>
      <p>
        <input type="checkbox" name="rules_verification" value="verified" />
        I have read the <a href="/rules/{{ persistent.as_leading_qmark() }}">rules</a> and the <a href="/terms_of_service/{{ persistent.as_leading_qmark() }}">Terms of Service</a>
      </p>
    </label>
    {% if persistent.site.is_adult %}
    <label>
      <p>
        <input type="checkbox" name="age_verification" value="verified" />
        By checking this box, I confirm that I am 18 years old or older
      </p>
    </label>
    {% endif %}
    <p>
      <div data-is-error-field-for="main" style="display: none;" class="error-field"></div>
      <input type="submit" data-is-submit-field-for="main" value="Create a new account">
    </p>
  </form>

  {% if !allow_register %}
  </fieldset>
  {% endif %}

</article>

<script type="application/javascript">
  "use strict";

  setupRequiredFieldsGroup(
    "main",
    {
      "username": function(username, callback) {
        checkUsernameAPI(username, function(result, err) {
          if (err) {
            callback(false, "Could not resolve request");
            return;
          }
          callback(result, result ? "" : "Username \"" + username + "\" is not available");
        });
      },
    },
    false
  );
</script>
{% endblock %}
